<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Флешка</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="/static/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="/static/css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="/static/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="/static/css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="/static/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="/static/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="/static/css/main/header.css">
        <link rel="stylesheet" href="/static/css/main/brands.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="skin-blue">


        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <div class="logo">
                        <img src="/static/img/logo.jpg" class="img-responsive">
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="treeview {% if page in ['settings_providers_names', 'download_type', 'setting_password', 'setting_mail', 'setting_number', 'setting_displayed_fields', 'setting_fields', 'settings_download_feature'] %} active {% endif %}">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Настройки</span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'setting_password' %} class="active" {% endif %}><a href="/store/settings/change_password"><i class="fa fa-angle-double-right"></i> Сменить пароль</a></li>
                                <li {% if page == 'setting_mail' %} class="active" {% endif %}><a href="/store/settings/change_email"><i class="fa fa-angle-double-right"></i> Сменить почту</a></li>
                                <li {% if page == 'setting_number' %} class="active" {% endif %}><a href="/store/settings/change_phone"><i class="fa fa-angle-double-right"></i> Сменить номер</a></li>
                                <li {% if page == 'setting_displayed_fields' %} class="active" {% endif %}><a href="/store/setting_displayed_fields"><i class="fa fa-angle-double-right"></i> Отображаемые поля</a></li>
                                <li {% if page == 'setting_fields' %} class="active" {% endif %}><a href="/store/setting_fields/table"><i class="fa fa-angle-double-right"></i> Параметры скачивания</a></li>
                                <li {% if page == 'download_type' %} class="active" {% endif %}><a href="/store/settings/download_type"><i class="fa fa-angle-double-right"></i> Тип скачивания</a></li>
                                <li {% if page == 'settings_providers_names' %} class="active" {% endif %}><a href="/store/settings/providers_names"><i class="fa fa-angle-double-right"></i> Названия поставщиков</a></li>
                                <li {% if page == 'settings_download_feature' %} class="active" {% endif %}><a href="/store/settings/download_feature"><i class="fa fa-angle-double-right"></i> Категории в выгрузке</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="menu">
                                <ul class="hr">
                                    <li> <a href="/"> Поставщики </a> </li>
                                    <li> <a href="/main_news"> Новости </a> </li>
                                    <li> <a href="/contacts"> Контакты </a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 menu hr">
                            <a href="/logout">Выйти</a>
                        </div>
                    </div>
                </div>
                <!-- Content Header (Page header) -->
                {% block content %}{% endblock %}
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->

        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="/static/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="/static/js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="/static/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="/static/js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="/static/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="/static/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="/static/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="/static/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

        <!-- AdminLTE App -->
        <script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>
        
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="/static/js/AdminLTE/dashboard.js" type="text/javascript"></script>     
        
        <!-- AdminLTE for demo purposes -->
        <script src="/static/js/AdminLTE/demo.js" type="text/javascript"></script>

    </body>
</html>