{% extends "base_store.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Смена почты
    </h1>
</section>

    <!-- Main content -->
<section class="content">

    <form action='' method='post'>
        <div class='row'>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputEmail1">Ваша почта</label>
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-3 col-xs-6 form-group">
                <input type="email" name="email" class="form-control" value="{{e_mail}}" maxlength="30" required>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
        {% if success_log %}
            <p style="color:green"> {{success_log}} </p>
        {% endif %}
    </form>

</section><!-- /.content -->
{% endblock %}
