{% extends "base_store.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Параметры скачивания товара
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-2 col-xs-4">
            <a href="/store/setting_fields/add">
                <button class="btn btn-primary">Добавить</button>
            </a>
        </div>
    </div>
    <form action="" method="post">
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Поле</th>
                            <th>Пользовательское название поля</th>
                            <th>Управление</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0, fields|length) %}
                        <tr>
                            <td>
                                <select size="1" name="number_column{{i}}" class="form-control" required>
                                    <option disabled>Выберите номер колонки</option>
                                    {% for number in numbers %}
                                    <option value="{{number}}" {% if fields[i].number_column == number %} selected {% endif %}>{{number}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ diction.get(fields[i].column_type) }}</td>
                            <input type="hidden" name="column_type{{i}}" value="{{fields[i].column_type}}"/>
                            <td>
                                <input type="text" name="name{{i}}" class="form-control" placeholder="{{diction.get(fields[i].column_type)}}" value="{{fields[i].name_column}}" maxlength="20" required/> 
                            </td>
                            <td>
                                <a href="/store/setting_fields/delete/{{fields[i].id}}">
                                    <div class="btn btn-danger">Удалить</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %}