{% extends "base_store.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Управление типом скачивания
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
        <div class='row'>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputFile">Ваш тип скачивания</label>
            </div>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputFile">Выберите разделитель</label>
            </div>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputFile">Ваберите кодировку</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6 form-group">
                <select size="1" name="down_type" class="form-control" required>
                    <option value="1" {% if download_type.download_type == 1 %} selected {% endif %}> .csv </option>
                    <option value="2" {% if download_type.download_type == 2 %} selected {% endif %} {% if not watermark and not without %} disabled {% endif %}> .csv + фотографии</option>
                    <option value="3" {% if download_type.download_type == 3 %} selected {% endif %} {% if not watermark and not without %} disabled {% endif %}> .csv + ссылки </option>
                    <option value="4" {% if download_type.download_type == 4 %} selected {% endif %}> .xlsx </option>
                    <option value="5" {% if download_type.download_type == 5 %} selected {% endif %}> .xlsx + минифотки</option>
                    <option value="6" {% if download_type.download_type == 6 %} selected {% endif %} {% if not watermark and not without %} disabled {% endif %}> .xlsx + фотографии</option>
                    <option value="7" {% if download_type.download_type == 7 %} selected {% endif %} {% if not watermark and not without %} disabled {% endif %}> .xlsx + минифотки + фотографии</option>
                </select>
            </div>
            <div class="col-lg-3 col-xs-6 form-group">
                <select size="1" name="deli_type" class="form-control" required>
                    <option value="," {% if download_type.delimiter == ',' %} selected {% endif %}> Запятая (,) </option>
                    <option value=";" {% if download_type.delimiter == ';' %} selected {% endif %}> Точка с запятой (;) </option>
                </select>
            </div>
            <div class="col-lg-3 col-xs-6 form-group">
                <select size="1" name="code_type" class="form-control" required>
                    <option value="utf-8" {% if download_type.coding == 'utf-8' %} selected {% endif %}> Юникод (UTF-8) </option>
                    <option value="cp1251" {% if download_type.coding == 'cp1251' %} selected {% endif %}> Кириллица (Windows-1251) </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
        {% if success_log %}
            <p style="color:green"> {{success_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %}
            