{% extends "base_store.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Категории в выгрузке
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
            <div class='row'>
                <div class="col-lg-12 col-xs-32">
                    <label for="exampleInputFile">Текст перед полем "Группа"</label>
                </div>
            </div>
            <div class='row'>
                <div class="col-lg-3 col-xs-6 form-group">
                    <input type="text" name="before_group" class="form-control" value="{{feature_value}}" maxlength="40">
                </div>
            </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %}
            