{% extends "base_store.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Названия поставщиков
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
        {% for name, provider in names %}
            <div class='row'>
                <div class="col-lg-12 col-xs-32">
                    <label for="exampleInputFile">Поставщик {{provider.provider_name}} : {{provider.address}}</label>
                </div>
            </div>
            <div class='row'>
                <div class="col-lg-3 col-xs-6 form-group">
                    <input type='hidden' name="ids" value='{{name.id}}'>
                    <input type="text" name="provider_name{{name.id}}" class="form-control" value="{{name.provider_name}}" maxlength="40" required>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %}
            