<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Флешка</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="/static/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="/static/css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="/static/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="/static/css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="/static/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/static/css/AdminLTE_provider.css?v=1" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a class="logo" href="/">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <img src="/static/img/logo.jpg" width="220" height="50">
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle menu-to-hide_large" data-toggle="offcanvas" role="button">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav"> 
                        <li class="dropdown user user-menu menu-to-hide_small">
                            <a href="/provider/products">
                                <span>{{flash_locale.get_text(locale, 'Мои товары')}} </span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu menu-to-hide_small">
                            <a href="/provider/news">
                                <span>{{flash_locale.get_text(locale, 'Мои новости')}} </span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu menu-to-hide_small">
                            <a href="/provider/profile">
                                <span>{{flash_locale.get_text(locale, 'Мой профиль')}} </span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu menu-to-hide_small">
                            <a href="/provider/settings/displayed_fields">
                                <span>{{flash_locale.get_text(locale, 'Настройки')}} </span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="/provider/settings/change/language?url={{url}}">
                                <span>{% if locale == 'Ru' %} {{flash_locale.get_text('Ch', 'Китайский')}} {% else %} {{flash_locale.get_text('Ru', 'Русский')}} {% endif %} </span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="/logout">
                                <span>{{flash_locale.get_text(locale, 'Выйти')}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li {% if page == 'products' %} class="active" {% endif %}>
                            <a href="/provider/products">
                                <i class="fa fa-th"></i> <span> {{flash_locale.get_text(locale, 'Мои товары')}}</span>
                            </a>
                        </li>
                        <li {% if page == 'news' %} class="active" {% endif %}>
                            <a href="/provider/news">
                                <i class="fa fa-edit"></i> <span> {{flash_locale.get_text(locale, 'Мои новости')}}</span>
                            </a>
                        </li>
                        <li {% if page == 'profile' %} class="active" {% endif %}>
                            <a href="/provider/profile">
                                <i class="fa fa-user"></i> <span> {{flash_locale.get_text(locale, 'Мой профиль')}}</span>
                            </a>
                        </li>
                        <li class="treeview {% if page in ['setting_displayed_fields'] %} active {% endif %}" >
                            <a href="#">
                                <i class="fa fa-cogs"></i> <span> {{flash_locale.get_text(locale, 'Настройки')}}</span>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'setting_displayed_fields' %} class="active" {% endif %}><a href="/provider/settings/displayed_fields"><i class="fa fa-angle-double-right"></i> {{flash_locale.get_text(locale, 'Отображаемые поля')}}</a></li>
                            </ul>
                        </li>

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                
                {% block content %}{% endblock %}
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->

        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="/static/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="/static/js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="/static/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="/static/js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="/static/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="/static/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>

        <!-- AdminLTE App -->
        <script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>
        
        {% if page in ['setting_displayed_fields', 'profile'] %}
        <script src="/static/js/AdminLTE/icheck.js" type="text/javascript"></script>
        {% endif %}
    </body>
</html>