{% extends "base_provider.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header" style="padding: 0px 0px 0px 0px;">
    <h3 class="text-center" style="margin-top:0px; margin-bottom:0px;">
        {{ provider.provider_name }}
    </h3>
</section>
<!-- Main content -->

<section class="content">
    <script type="text/javascript">
    function changePresence(product_id){
        var xhttp = new XMLHttpRequest();
        element_id = "presence" + product_id;
        presence_element = document.getElementById(element_id).innerHTML;
        if (presence_element == "есть")
            {new_presence="нет";}
        else
            {new_presence="есть";}
        document.getElementById(element_id).innerHTML=new_presence;
        xhttp.open("POST", "/provider/products/change_presence", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("presence=" + new_presence + "&product_id=" + product_id);
    }
    </script>

    <script type="text/javascript">

    function changeCost(product_id){
        var xhttp = new XMLHttpRequest();
        var cost_id = "cost" + product_id;
        var cost_site_id = "cost_site" + product_id;

        var cost_td_id = "cost_td" + product_id;
        var cost_site_td_id = "cost_site_td" + product_id; 

        var cost_element = parseFloat(document.getElementById(cost_id).value);
        var cost_site_element = parseFloat(document.getElementById(cost_site_id).value);

        var checkedBoxes = document.querySelectorAll('input[name=ids]:checked');

        console.log(checkedBoxes);

        console.log(cost_element);
        console.log(cost_site_element);

        if (!cost_element || !cost_site_element)
        {
            return;
        }

        if (cost_element > cost_site_element)
        {
            alert("{{flash_locale.get_text(locale, 'Цена сайт не может быть меньше цены.')}}");
            return;
        }

        document.getElementById(cost_td_id).innerHTML=cost_element;
        document.getElementById(cost_site_td_id).innerHTML=cost_site_element;

        xhttp.open("POST", "/provider/products/change_cost", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var request_string = "cost=" + cost_element + "&cost_site=" + cost_site_element + "&product_id=" + product_id;
        for (var index = 0; index < checkedBoxes.length; index++) {
            request_string += "&ids=" + checkedBoxes[index].value;

            document.getElementById("cost_td" + checkedBoxes[index].value).innerHTML=cost_element;
            document.getElementById("cost_site_td" + checkedBoxes[index].value).innerHTML=cost_site_element;
        }
        xhttp.send(request_string);
    }

    function changeCost2(product_id){
        var xhttp = new XMLHttpRequest();
        var cost_id = "cost2" + product_id;
        var cost_site_id = "cost_site2" + product_id;

        var cost_td_id = "cost_td" + product_id;
        var cost_site_td_id = "cost_site_td" + product_id; 

        var cost_element = parseFloat(document.getElementById(cost_id).value);
        var cost_site_element = parseFloat(document.getElementById(cost_site_id).value);

        var checkedBoxes = document.querySelectorAll('input[name=ids]:checked');

        console.log(checkedBoxes);

        console.log(cost_element);
        console.log(cost_site_element);

        if (!cost_element || !cost_site_element)
        {
            return;
        }

        if (cost_element > cost_site_element)
        {
            alert("{{flash_locale.get_text(locale, 'Цена сайт не может быть меньше цены.')}}");
            return;
        }

        document.getElementById(cost_td_id).innerHTML=cost_element;
        document.getElementById(cost_site_td_id).innerHTML=cost_site_element;

        xhttp.open("POST", "/provider/products/change_cost", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var request_string = "cost=" + cost_element + "&cost_site=" + cost_site_element + "&product_id=" + product_id;
        for (var index = 0; index < checkedBoxes.length; index++) {
            request_string += "&ids=" + checkedBoxes[index].value;

            document.getElementById("cost_td" + checkedBoxes[index].value).innerHTML=cost_element;
            document.getElementById("cost_site_td" + checkedBoxes[index].value).innerHTML=cost_site_element;
        }
        xhttp.send(request_string);
    }
    </script>

    <div class="row content-to-hide_large">
        <div class="col-lg-2 col-xs-12 form-group">
            <div class="btn btn-block filter-drop content-to-hide_large" style="background-color:#f7d744; color:#ffffff">{{flash_locale.get_text(locale, 'Фильтр')}}</div>
        </div>
    </div>

    <form action="" mathod="get">
        <div class="filter_form content-to-hide">
            <input type="hidden" name="page" value="1"/>
            <div class="row">
                <div class="col-lg-2 col-xs-12 form-group">
                    <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Дата')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="date" class="form-control" name="from_date" value="{{from_date}}" required>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-12 form-group">
                    <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Дата')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="date" class="form-control" name="to_date" value="{{to_date}}" required>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6 form-group">
                    <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Сортировка')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-sort-amount-asc"></i></span>
                        <select size="1" name="sorting" class="form-control" required>
                            <option value="art" {% if sorting == "art" %} selected {% endif %}> {{flash_locale.get_text(locale, 'По артикулу')}} </option>
                            <option value="date_art" {% if sorting == "date_art" %} selected {% endif %}> {{flash_locale.get_text(locale, 'По дате и артикулу')}} </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6 form-group">
                    <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Сезон')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                        <select size="1" name="season" class="form-control" required>
                            <option value="all" {% if type == "all" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Все')}} </option>
                            {% for season_option in season_options %}
                                <option value="{{season_option}}" {% if season == season_option %} selected {% endif %}> {{flash_locale.get_text(locale, season_option)}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Статус')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                        <select size="1" name="status" class="form-control" required>
                            <option value="true" {% if status == "true" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Подтверждённые')}} </option>
                            <option value="false" {% if status == "false" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Не подтверждённые')}} </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Наличие')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                        <select size="1" name="presence" class="form-control" required>
                            {% for presence_option in presence_options %}
                                <option value="{{presence_option}}" {% if presence == presence_option %} selected {% endif %}> {{flash_locale.get_text(locale, presence_option)}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 form-group">
                    <label for="exampleInputEmail1"></label>
                    <button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">{{flash_locale.get_text(locale, 'Отфильтровать')}}</button>
                </div>
            </div>
        </div>
        <div class="row content-to-hide">
            <div class="col-lg-12 col-xs-12 form-group">
                <label for="exampleInputEmail1">Даты фотосессии: </label>{% for date in dates %}<span> <a style="margin-left:5px; color: #555; border: {% if date.get('range') %}3px{% else %}1px{% endif %} solid #555; padding: 3px; padding-left: 6px; border-radius: 3px;" href="/provider/products?page={{page_pag}}&from_date={{date.get('date')}}&to_date={{date.get('date')}}&status={{status}}&sorting={{sorting}}&season={{season}}&presence={{presence}}">{{date.get('date')}}  </a> </span>{% endfor %}
            </div>
        </div>
        <div class="row content-to-hide_large">
            {% for date in dates %}
            <div class="col-lg-1 col-xs-4 form-group">
                <span> <a class="form-group" style="margin-left:5px; color: #555; border: {% if date.get('range') %}3px{% else %}1px{% endif %} solid #555; padding: 3px; padding-left: 6px; border-radius: 3px;" href="/provider/products?page={{page_pag}}&from_date={{date.get('date')}}&to_date={{date.get('date')}}&status={{status}}&sorting={{sorting}}&season={{season}}&presence={{presence}}">{{date.get('date')}} </a> </span>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-12 col-lg-offset-4 form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" name="articul" {% if articul %} value="{{articul}}" {% endif %} placeholder="Артикул для поиска">
                </div>
            </div>
            <div class="col-lg-2 col-xs-12 form-group">
                <button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">{{flash_locale.get_text(locale, 'Искать')}}</button>
            </div>
        </div>
    </form>
    <form action="/provider/products/act" method="post" id="send_product_info">
        <input type="hidden" name="page" value="{{page_pag}}">
        <input type="hidden" name="from_date" value="{{from_date}}">
        <input type="hidden" name="to_date" value="{{to_date}}">
        <input type="hidden" name="sorting" value="{{sorting}}">
        <input type="hidden" name="season" value="{{season}}">
        <input type="hidden" name="status" value="{{status}}">
        <input type="hidden" name="presence" value="{{presence}}">

        <input type="hidden" name="id" id="prod_id" value=""/>

        <div class="row">
            <div class="col-lg-2 col-xs-6 form-group">
                <button type="submit" name="action" value="download" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">{{flash_locale.get_text(locale, 'Скачать фото')}}</button>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <button type="submit" name="action" value="download_all" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">{{flash_locale.get_text(locale, 'Скачать все фото')}}</button>
            </div>
            <div class="col-lg-2 col-xs-12 form-group">
                <button type="submit" name="action" value="make_news" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">{{flash_locale.get_text(locale, 'Подтвердить изменения')}}</button>
            </div>
            <!--<div class="col-lg-2 col-xs-12 form-group">
                <button type="submit" name="action" value="accept" class="btn btn-primary">{{flash_locale.get_text(locale, 'Подтвердить')}}</button>
            </div>-->
            <div class="col-lg-6 col-xs-12">
                <ul class="pagination  pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/provider/products?page={{page_pag-1}}&from_date={{from_date}}&to_date={{to_date}}&status={{status}}&season={{season}}&presence={{presence}}&sorting={{sorting}}{% if articul %}&articul={{articul}}{% endif %}" {% endif %}>←</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/provider/products?page={{page_li}}&from_date={{from_date}}&to_date={{to_date}}&status={{status}}&sorting={{sorting}}&season={{season}}&presence={{presence}}{% if articul %}&articul={{articul}}{% endif %}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/provider/products?page={{page_pag+1}}&from_date={{from_date}}&to_date={{to_date}}&status={{status}}&sorting={{sorting}}&season={{season}}&presence={{presence}}{% if articul %}&articul={{articul}}{% endif %}" {% endif %}>→</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="z-index:2300; overflow:visible;">
            <div class="col-xs-12 table-responsive" style="z-index:2300; overflow:visible;">
                <table class="table table-striped" style="z-index:2300; overflow:visible;">
                    <thead>
                        <tr class="row">
                            <th>
                                <input type="checkbox" onclick="
                                var bx=this; 
                                var cbs = document.getElementsByTagName('input');
                                for(var i=0; i < cbs.length; i++) {
                                    if(cbs[i].type == 'checkbox') {
                                        cbs[i].checked = bx.checked;}}">
                            </th>
                            <th>{{flash_locale.get_text(locale, 'Фото')}}</th>
                            <!--<th> </th>-->
                            <th>{{flash_locale.get_text(locale, 'Артикул')}}</th>
                            {% if displayed_fields.get('brand')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Бренд')}}</th>
                            {% endif %}
                            <th>{{flash_locale.get_text(locale, 'Цена')}}</th>
                            <th>{{flash_locale.get_text(locale, 'Сайт')}}</th>
                            <th><span class="content-to-hide"> {{flash_locale.get_text(locale, 'Валюта')}} </span></th>
                            {% if displayed_fields.get('sex')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Пол')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('group')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Группа')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('type')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Тип')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('material_outside')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Материал верха')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('material_inside')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Материал внутренний')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('material_insole')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Материал стельки')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('size')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Размер')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('repeat')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Повторы')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('colour')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Цвет')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('season')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Сезон')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('box')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Ящик')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('min_order')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Минимальный заказ')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('manufacturer')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Производитель')}}</th>
                            {% endif %}
                            <th><span class="content-to-hide"> {{flash_locale.get_text(locale, 'Наличие')}} </span></th>
                            {% if displayed_fields.get('date')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Дата')}}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr class="row">
                            <td> <input type='checkbox' name='ids' value="{{ product.get('id') }}"> </td>
                            <td>
                                <div class="content-to-hide_large">
                                    <a href="#openModal{{product.get('id')}}">
                                        <img src="/thumbnails/{{ product.get('thumbnail') }}" class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="content-to-hide">
                                    <img src="/thumbnails/{{ product.get('thumbnail') }}" class="img-responsive"/>
                                </div>
                                <div id="openModal{{product.get('id')}}" class="modalDialog content-to-hide">
                                    <div>
                                        <a href="#close" title="Закрыть" class="close">X</a>
                                        <img src="/thumbnails/{{ product.get('thumbnail') }}" class="img-responsive" style="margin: 0 auto;"/>
                                    </div>
                                </div>
                            </td>
                            <!--<td>{% if product.get('accept')%} <i class="fa fa-check"></i> {% else %} <i class="fa fa-times-circle-o"></i> {% endif %}</td>-->
                            <td>{{ product.get('articul') }}</td>
                            {% if displayed_fields.get('brand')%}
                            <td class="content-to-hide">{{ product.get('brand_name') }}</td>
                            {% endif %}
                            <td>
                                <div id="view_cost_{{product.get('id')}}" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="cost_td{{product.get('id')}}">{{ product.get('cost') }}</a>
                                <ul class="dropdown-menu">
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row" style="margin-left:10px;">
                                            <div class="col-lg-12 col-xs-12 form-group">
                                                <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Цена')}}</label>
                                                <input type="number" id="cost{{ product.get('id') }}" onclick="this.value=''" name="cost{{ product.get('id') }}" placeholder="{{ product.get('cost') }}" style="max-width:50px;"/>
                                                <label for="exampleInputEmail1">{{product.get('currency')}}</label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-left:10px;">
                                            <div class="col-lg-12 col-xs-12 form-group">
                                                <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Сайт')}}</label>
                                                <input type="number" id="cost_site{{ product.get('id') }}" onclick="this.value=''" name="cost_site{{ product.get('id') }}" placeholder="{{ product.get('cost_site') }}" style="max-width:50px;"/>
                                                <label for="exampleInputEmail1">{{product.get('currency')}}</label>
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <a class="col-lg-12 col-xs-12 form-group text-center">
                                                <div class="btn btn-block" style="background-color:#f7d744; color:#ffffff" onclick="changeCost({{product.get('id')}}); document.getElementById('view_cost_{{product.get('id')}}').classList.remove('open');"> Изменить </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            </td>
                            <td>
                                <div id="view_cost_site_{{product.get('id')}}" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="cost_site_td{{product.get('id')}}">{{ product.get('cost_site') }}</a>
                                <ul class="dropdown-menu" style="z-index:1000;">
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row" style="margin-left:10px;">
                                            <div class="col-lg-12 col-xs-12 form-group">
                                                <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Цена')}}</label>
                                                <input type="number" id="cost2{{ product.get('id') }}" onclick="this.value=''" name="cost{{ product.get('id') }}" placeholder="{{ product.get('cost') }}" style="max-width:50px;"/>
                                                <label for="exampleInputEmail1">{{product.get('currency')}}</label>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-left:10px;">
                                            <div class="col-lg-12 col-xs-12 form-group">
                                                <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Сайт')}}</label>
                                                <input type="number" id="cost_site2{{ product.get('id') }}" onclick="this.value=''" name="cost_site{{ product.get('id') }}" placeholder="{{ product.get('cost_site') }}" style="max-width:50px;"/>
                                                <label for="exampleInputEmail1">{{product.get('currency')}}</label>
                                            </div> 
                                        </div>
                                        <div class="row">
                                            <a class="col-lg-12 col-xs-12 form-group text-center">
                                                <div class="btn btn-block" style="background-color:#f7d744; color:#ffffff" onclick="changeCost2({{product.get('id')}}); document.getElementById('view_cost_{{product.get('id')}}').classList.remove('open');"> Изменить </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                </div>
                            </td>
                            <td class="content-to-hide">{{ product.get('currency') }}</td>
                            {% if displayed_fields.get('sex')%}
                            <td class="content-to-hide">{{ product.get('sex') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('group')%}
                            <td class="content-to-hide">{{ product.get('group') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('type')%}
                            <td class="content-to-hide">{{ product.get('type') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_outside')%}
                            <td class="content-to-hide">{{ product.get('material_outside') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_inside')%}
                            <td class="content-to-hide">{{ product.get('material_inside') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_insole')%}
                            <td class="content-to-hide">{{ product.get('material_insole') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('size')%}
                            <td class="content-to-hide">{{ product.get('size') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('repeat')%}
                            <td class="content-to-hide">{{ product.get('repeat') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('colour')%}
                            <td class="content-to-hide">{{ product.get('colour') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('season')%}
                            <td class="content-to-hide">{{ product.get('season') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('box')%}
                            <td class="content-to-hide">{{ product.get('box') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('min_order')%}
                            <td class="content-to-hide">{{ product.get('min_order') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('manufacturer')%}
                            <td class="content-to-hide">{{ product.get('manufacturer') }}</td>
                            {% endif %}
                            <td>
                                <a id="presence{{product.get('id')}}" style="cursor:pointer;" onclick='changePresence("{{ product.get('id')}}");'>{{ product.get('presence') }}</a>
                            </td>
                            {% if displayed_fields.get('date')%}
                            <td class="content-to-hide">{{ product.get('date') }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-6 col-xs-12 col-lg-offset-6">
                <ul class="pagination  pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/provider/products?page={{page_pag-1}}&from_date={{from_date}}&to_date={{to_date}}&status={{status}}&season={{season}}&presence={{presence}}&sorting={{sorting}}{% if articul %}&articul={{articul}}{% endif %}" {% endif %}>←</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/provider/products?page={{page_li}}&from_date={{from_date}}&to_date={{to_date}}&status={{status}}&sorting={{sorting}}&season={{season}}&presence={{presence}}{% if articul %}&articul={{articul}}{% endif %}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/provider/products?page={{page_pag+1}}&from_date={{from_date}}&to_date={{to_date}}&status={{status}}&sorting={{sorting}}&season={{season}}&presence={{presence}}{% if articul %}&articul={{articul}}{% endif %}" {% endif %}>→</a></li>
                </ul>
            </div>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %}
            