{% extends "base_provider.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{flash_locale.get_text(locale, 'Товар')}}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="/provider/products/act" method="post">
        <input type="hidden" name="page" value="">
        <input type="hidden" name="from_date" value="">
        <input type="hidden" name="to_date" value="">
        <input type="hidden" name="sorting" value="">
        <input type="hidden" name="season" value="">
        <input type="hidden" name="status" value="">
        <input type="hidden" name="presence" value="">
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <button type="submit" name="action" value="download" class="btn btn-primary">{{flash_locale.get_text(locale, 'Скачать фото')}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" onclick="
                                var bx=this; 
                                var cbs = document.getElementsByTagName('input');
                                for(var i=0; i < cbs.length; i++) {
                                    if(cbs[i].type == 'checkbox') {
                                        cbs[i].checked = bx.checked;}}">
                            </th>
                            <th>{{flash_locale.get_text(locale, 'Фото')}}</th>
                            {% if displayed_fields.get('group')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Группа')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('brand')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Бренд')}}</th>
                            {% endif %}
                            {% if news_type == 9%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Старый артикул')}}</th>
                            {% endif %}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Артикул')}}</th>
                            {% if displayed_fields.get('provider')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Поставщик')}}</th>
                            {% endif %}
                            {% if news_type == 3%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Старая цена')}}</th>
                            {% endif %}
                            <th>{{flash_locale.get_text(locale, 'Цена')}}</th>
                            {% if news_type == 3%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Старая цена сайт')}}</th>
                            {% endif %}
                            <th>{{flash_locale.get_text(locale, 'Сайт')}}</th>
                            <th> <span class="content-to-hide"> {{flash_locale.get_text(locale, 'Валюта')}} </span> </th>
                            {% if displayed_fields.get('sex')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Пол')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('group')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Группа')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('type')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Тип')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('material_outside')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Материал верха')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('material_inside')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Материал внутри')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('material_insole')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Материал стельки')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('size')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Размер')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('repeat')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Повторы')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('colour')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Цвет')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('season')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Сезон')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('box')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Ящик')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('min_order')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Минимальный заказ')}}</th>
                            {% endif %}
                            {% if displayed_fields.get('manufacturer')%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Производитель')}}</th>
                            {% endif %}
                            {% if news_type == 2%}
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Старое наличие')}}</th>
                            {% endif %}
                            <th> <span class="content-to-hide"> {{flash_locale.get_text(locale, 'Наличие')}} </span> </th>
                            <th class="content-to-hide">{{flash_locale.get_text(locale, 'Дата')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td> <input type='checkbox' name='ids' value="{{ product.get('id') }}"> </td>
                            <td><img src="/thumbnails/{{ product.get('thumbnail') }}" class="img-responsive"/></td>
                            {% if displayed_fields.get('group')%}
                            <td class="content-to-hide">{{ product.get('group') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('brand')%}
                            <td class="content-to-hide">{{ product.get('brand_name') }}</td>
                            {% endif %}
                            {% if news_type == 9%}
                            <td class="content-to-hide">{{ product.get('old_articul') }}</td>
                            {% endif %}
                            <td class="content-to-hide">{{ product.get('articul') }}</td>
                            {% if displayed_fields.get('provider')%}
                            <td class="content-to-hide">{{ product.get('provider_name') }}</td>
                            {% endif %}
                            {% if news_type == 3 %}
                            <td class="content-to-hide">{{ product.get('old_cost') }}</td>
                            {% endif %}
                            <td>{{ product.get('cost') }}</td>
                            {% if news_type == 3 %}
                            <td class="content-to-hide">{{ product.get('old_cost_site') }}</td>
                            {% endif %}
                            <td>{{ product.get('cost_site') }}</td>
                            <td>{{ product.get('currency') }}</td>
                            {% if displayed_fields.get('sex')%}
                            <td class="content-to-hide">{{ product.get('sex') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('group')%}
                            <td class="content-to-hide">{{ product.get('group') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('type')%}
                            <td class="content-to-hide">{{ product.get('type') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_outside')%}
                            <td class="content-to-hide">{{ product.get('material_outside') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_inside')%}
                            <td class="content-to-hide">{{ product.get('material_inside') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_insole')%}
                            <td class="content-to-hide">{{ product.get('material_insole') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('size')%}
                            <td class="content-to-hide">{{ product.get('size') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('repeat')%}
                            <td class="content-to-hide">{{ product.get('repeat') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('colour')%}
                            <td class="content-to-hide">{{ product.get('colour') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('season')%}
                            <td class="content-to-hide">{{ product.get('season') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('box')%}
                            <td class="content-to-hide">{{ product.get('box') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('min_order')%}
                            <td class="content-to-hide">{{ product.get('min_order') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('manufacturer')%}
                            <td class="content-to-hide">{{ product.get('manufacturer') }}</td>
                            {% endif %}
                            {% if news_type == 2 %}
                            <td class="content-to-hide">{{ product.get('old_presence') }}</td>
                            {% endif %}
                            <td>{{ product.get('presence') }}</td>
                            <td class="content-to-hide">{{ product.get('date') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}
            