{% extends "base_provider.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{flash_locale.get_text(locale, 'Мой профиль')}}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
        <div class='row'>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Мой адрес')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                    <input type="text" name="address" class="form-control" value="{{provider.address}}" maxlength="30" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Мой номер')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="text" name="phone" class="form-control" value="{{provider.provider_phone}}" maxlength="13" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Мой Viber')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="text" name="viber" class="form-control" value="{{provider.provider_viber}}" maxlength="13" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Моя почта')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" name="email" class="form-control" value="{{provider.provider_mail}}" maxlength="30">
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Курс доллара')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                    <input type="text" name="doll_to_uah" class="form-control" value="{{provider.doll_to_uah}}" maxlength="6" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Курс евро')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input type="text" name="euro_to_uah" class="form-control" value="{{provider.euro_to_uah}}" maxlength="6" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Рыночный курс')}}</label>
                <div class="checkbox">
                    <input type="checkbox" name="market_rate" {% if provider.market_rate %} checked {% endif %}>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Выберите язык')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info"></i></span>
                    <select size="1" name="locale" class="form-control" required>
                        <option value="Ru" {% if locale == "Ru" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Русский')}} </option>
                        <option value="Ch" {% if locale == "Ch" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Китайский')}} </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable form-group'>
                <button type="submit" name="action" value="profile" class="btn btn-primary">{{flash_locale.get_text(locale, 'Сохранить')}}</button>
            </div>
        </div>
        {% if error_log_profile %}
        <div class="alert alert-danger alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>{{flash_locale.get_text(locale, 'Ошибка')}}</b> {{flash_locale.get_text(locale, error_log_profile)}}
        </div>
        {% endif %}
        {% if success_log_profile %}
        <div class="alert alert-success alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>{{flash_locale.get_text(locale, 'Данные успешно обновлены')}}</b>
        </div>
        {% endif %}
    </form>
    <form action='' method='post'>
        <div class="row">
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Введите старый пароль')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password_old" class="form-control" maxlength="64" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Введите новый пароль')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password_new" class="form-control" maxlength="64" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputFile">{{flash_locale.get_text(locale, 'Повторите новый пароль')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password_confirm" class="form-control" maxlength="64" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" name="action" value="password" class="btn btn-primary">{{flash_locale.get_text(locale, 'Сменить пароль')}}</button>
            </div>
        </div>
        {% if error_log_password %}
        <div class="alert alert-danger alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>{{flash_locale.get_text(locale, 'Ошибка')}}</b> {{flash_locale.get_text(locale, error_log_password)}}
        </div>
        {% endif %}
        {% if success_log_password %}
        <div class="alert alert-success alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>{{flash_locale.get_text(locale, 'Пароль успешно обновлён')}}</b>
        </div>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %}
            