{% extends "base_provider.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{flash_locale.get_text(locale, 'Мои новости')}}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="" method="get">
        <input type='hidden' name='page' value='1'>
        <div class="row">
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Выберите тип')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info"></i></span>
                    <select size="1" name="type" class="form-control" required>
                        <option value="all" {% if type == "all" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Все')}} </option>
                        <option value="1" {% if type == "1" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Добавление нового товара')}} </option>
                        <option value="2" {% if type == "2" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Изменение наличия товара')}} </option>
                        <option value="3" {% if type == "3" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Изменение цены товара')}} </option>
                        <option value="4" {% if type == "4" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Изменение фотографии товара')}} </option>
                        <option value="5" {% if type == "5" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Изменение характеристик товара')}} </option>
                        <option value="9" {% if type == "9" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Изменение артикула товара')}} </option>
                        <option value="6" {% if type == "6" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Изменение курса поставщика')}} </option>
                        <option value="7" {% if type == "7" %} selected {% endif %}> {{flash_locale.get_text(locale, 'Изменение адреса поставщика')}} </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Выберите дату')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="date" class="form-control" name="from_date" value="{{from_date}}" min="{{min_date}}" max="{{max_date}}" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputEmail1">{{flash_locale.get_text(locale, 'Выберите дату')}}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="date" class="form-control" name="to_date" value="{{to_date}}" min="{{min_date}}" max="{{max_date}}" required>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12 form-group">
                <label for="exampleInputEmail1"></label>
                <button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff;">{{flash_locale.get_text(locale, 'Отфильтровать')}}</button>
            </div>
        </div>
    </form>
    <form action="/provider/news/action">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <ul class="pagination pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/provider/news?page={{page_pag-1}}&from_date={{from_date}}&to_date={{to_date}}&type={{type}}" {% endif %}>←</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/provider/news?page={{page_li}}&from_date={{from_date}}&to_date={{to_date}}&type={{type}}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/provider/news?page={{page_pag+1}}&from_date={{from_date}}&to_date={{to_date}}&type={{type}}" {% endif %}>→</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{flash_locale.get_text(locale, 'Новость')}}</th>
                            <th>{{flash_locale.get_text(locale, 'Дата')}}</th>
                            <th>{{flash_locale.get_text(locale, 'Подробнее')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for new in news %}
                        <tr>
                            <td style="white-space:pre-wrap; word-wrap:break-word">{{flash_locale.get_text(locale, new.get('news_type'))}}</td>
                            <td style="white-space:pre-wrap; word-wrap:break-word">{{new.get('datetime')}}</td>
                            <td> 
                                {% if new.get('news_type_int') != 6 and new.get('news_type_int') != 7 %}
                                <a href="/provider/news/detail/{{new.id}}">
                                    <div class="btn btn-primary">{{flash_locale.get_text(locale, 'Подробнее')}}</div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}