{% extends "base_provider.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{flash_locale.get_text(locale, 'Отображаемые поля')}}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
        <div class="row">
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="sex" {% if displayed_fields.get('sex') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Пол')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="group" {% if displayed_fields.get('group') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Группа')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="type" {% if displayed_fields.get('type') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Тип')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="material_outside" {% if displayed_fields.get('material_outside') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Материал верха')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="material_inside" {% if displayed_fields.get('material_inside') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Материал внутренний')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="material_insole" {% if displayed_fields.get('material_insole') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Материал стельки')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="size" {% if displayed_fields.get('size') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Размер')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="repeat" {% if displayed_fields.get('repeat') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Повторы')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="colour" {% if displayed_fields.get('colour') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Цвет')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="season" {% if displayed_fields.get('season') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Сезон')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="box" {% if displayed_fields.get('box') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Ящик')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="min_order" {% if displayed_fields.get('min_order') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Минимальный заказ')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="manufacturer" {% if displayed_fields.get('manufacturer') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Производитель')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="brand" {% if displayed_fields.get('brand') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Бренд')}}
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="date" {% if displayed_fields.get('date') %} checked {% endif %}> {{flash_locale.get_text(locale, 'Дата')}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">{{flash_locale.get_text(locale, 'Подтвердить')}}</button>
            </div>
        </div>
        {% if success_log %}
        <div class="alert alert-success alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>{{flash_locale.get_text(locale, 'Настройки успешно обновлены')}}</b>
        </div>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %} 