<<<<<<< HEAD
.brands{
  margin-top:50px;
}

ul.filter-list{
	margin: 0; /* Обнуляем значение отступов */
	padding: 4px; /* Значение полей */
	font-size: 16px;
}

ul.filter-list li{
	display: inline; /* Отображать как строчный элемент */
	margin-right: 5px; /* Отступ слева */
	padding: 5px 10px 5px 10px; /* Поля вокруг текста */
	cursor:pointer;
	border:1px solid #f7d744;
	border-radius: 100px;
	transition: 0.3s;
}

ul.filter-list li:hover{
	background: #f7d744;
	color:white;
}

.filter-tittle{
	font-size: 16px;	
}

.brand-filters{
	margin-top: 60px;
}

.brand-list-cont{
	margin-top: 60px;
}

ul.brand-list{
	margin: 0; /* Обнуляем значение отступов */
	padding: 4px; /* Значение полей */
	font-size: 24px;
}

ul.brand-list li{
	display: inline; /* Отображать как строчный элемент */
	margin-right: 5px; /* Отступ слева */
	padding: 3px; /* Поля вокруг текста */
	cursor:pointer;
	transition: 0.3s;
=======
.brands{
  margin-top:50px;
}

ul.filter-list{
	margin: 0; /* Обнуляем значение отступов */
	padding: 4px; /* Значение полей */
	font-size: 16px;
}

ul.filter-list li{
	display: inline; /* Отображать как строчный элемент */
	margin-right: 5px; /* Отступ слева */
	padding: 5px 10px 5px 10px; /* Поля вокруг текста */
	cursor:pointer;
	border:1px solid #f7d744;
	border-radius: 100px;
	transition: 0.3s;
}

ul.filter-list li:hover{
	background: #f7d744;
	color:white;
}

.filter-tittle{
	font-size: 16px;	
}

.brand-filters{
	margin-top: 60px;
}

.brand-list-cont{
	margin-top: 60px;
}

ul.brand-list{
	margin: 0; /* Обнуляем значение отступов */
	padding: 4px; /* Значение полей */
	font-size: 16px;
}

ul.brand-list li{
	display: inline; /* Отображать как строчный элемент */
	margin-right: 5px; /* Отступ слева */
	padding: 3px; /* Поля вокруг текста */
	cursor:pointer;
	transition: 0.3s;
}