@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  font-family: 'PT Sans', sans-serif !important; 
}

h1{
  font-family: 'PT Sans', sans-serif !important; 
  text-align:center;
}

ul.hr {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
  font-size: 18px;
  }

.hr{
  padding: 4px; /* Значение полей */
  font-size: 18px;
}

ul.hr li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */
  cursor:pointer;
  }

header{
  margin-top: 40px;
}

.menu{
  text-align: center;
  margin-top: 18px;
}

.container-4{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 100%;
  height: 50px;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 15px;
  border:solid black 2px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.container-4 input#search::-webkit-input-placeholder {
 color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
 color: #65737e; 
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
 color: #65737e; 
}

.container-4 input#search:-ms-input-placeholder { 
 color: #65737e; 
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  height: 50px;
  width: 150px;
  color: white;
  font-size:18px !important;
  opacity: 0;
  font-size: 10pt;
  background: #f7d744;
  border-radius:0 50px 50px 0;

  opacity: 1;
  margin-left: -150px;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon:hover{
  background: #fceca6;
}

.search{
  margin-top:100px;
}