{% extends "base_main_noauth.html" %}
{% block content %}
        <div class="form-box" id="login-box">
            <div class="header">Обратная связь</div>
            <form action="" method="post" id="feedback">
                <div class="body bg-gray">
                    <label for="exampleInputEmail1">Ваше сообщение записано и отправлено администраторам сервиса. В ближайшее время Вам ответят.</label>
                </div>
            </form>
        </div>


        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>    

{% endblock %}