<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/static/css/main/bootstrap.min.css">

	<title>Флешка</title>

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/static/css/main/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/css/main/header.css">
	<link rel="stylesheet" href="/static/css/main/brands.css">

	<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

	<link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css" />

	<!-- Latest compiled and minified JavaScript -->
	<script src="/static/js/main/bootstrap.min.js"></script>

	<meta charset="utf-8">

</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="logo">
						<img src="\static\img\logo.jpg" width="250px">
					</div>
				</div>
				<div class="col-lg-8">
					<div class="menu">
						<ul class="hr">
						   {% if user.role != 'PROVIDER' %} <li> <a href="/"> {% if page == 'providers' %} <b> {% endif %} Поставщики {% if page == 'providers' %} </b> {% endif %} </a> </li> {% endif %}
						   <li> <a href="/main_news"> {% if page == 'main_news' %} <b> {% endif %} Новости {% if page == 'main_news' %} </b> {% endif %} </a> </li>
						   <li> <a href="/contacts"> {% if page == 'contacts' %} <b> {% endif %} Контакты {% if page == 'contacts' %} </b> {% endif %} </a> </li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 menu hr">
					{% if user %}
						{% if user.role == 'STORE' %}
							<a href="/store/settings/download_type">Настройки {{user.user_name}}</a>
							<a href="/logout">Выйти</a>
						{% else %}
							<a href="/login">{{user.user_name}}</a>
							<a href="/logout">Выйти</a>
						{% endif %}
					{% else %}
						<a href="/login">Войти</a>/
						<a href="/register">Регистрация</a>
					{% endif %}
				</div>
			</div>
		</div>
		</div>
	</header>

	{% block content %}{% endblock %}
</body>
</html>