{% extends "base_main.html" %}
{% block content %}

        <div class="form-box" id="login-box">
            <div class="header">Доступ заблокирован. С Вами скоро свяжется администратор.</div>
            <div class="footer">
                <button onclick="window.location='/store/block';" class="btn bg-yellow btn-block">Проверить</button>
                <button onclick="window.location='/logout';" class="btn bg-yellow btn-block">Выйти</button>
            </div>
        </div>


{% endblock %}