{% extends "base_main_noauth.html" %}
{% block content %}
        <div class="form-box" id="login-box">
            <div class="header">Обратная связь</div>
            <form action="" method="post" id="feedback">
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Ваше имя" maxlength="40" required/>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="phone" class="form-control" placeholder="Ваш телефон" required/>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Ваша почта" maxlength="30" required/>
                    </div>
                    <div class="form-group">
                        <textarea style="resize: none" form='feedback' name='message' placeholder='Опишите суть Вашего обращения' maxlength='2000' cols='36' rows='9' required></textarea>
                    </div>
                    <button type="submit" class="btn bg-yellow btn-block">Принять</button>  
                    {% if error_log %}
                        <p style="color:red"> {{error_log}} </p>
                    {% endif %}
                </div>
            </form>
        </div>


        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>    

{% endblock %}