{% extends "base_main_noauth.html" %}
{% block content %}
        <div class="form-box" id="login-box">
            <div class="header">Вход</div>
            <form action="" method="post">
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="user_name" class="form-control" placeholder="Логин" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Пароль" required/>
                    </div>          
                    <div class="form-group">
                        <input type="checkbox" name="remember_me"/> Запомнить меня
                    </div>
                    <button type="submit" class="btn bg-yellow btn-block">Войти</button>  
                    {% if error_log %}
                        <p style="color:red"> {{error_log}} </p>
                    {% endif %}
                    <button onclick="window.location='/register';" class="btn bg-yellow btn-block">Регистрация</button>
                </div>
            </form>
        </div>


        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>    

{% endblock %}