{% extends "base_main.html" %}
{% block content %}

	<div class="brands">
		<div class="container">
			<h1>
				<b>Новости</b>
			</h1>
	<form action="" method="get">
        <input type='hidden' name='page' value='1'>
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <label for="exampleInputEmail1">Выберите тип</label>
            </div>
            <div class="col-lg-2 col-xs-4">
                <label for="exampleInputEmail1">Выберите поставщика</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <select size="1" name="type" class="form-control" required>
                    <option value="all" {% if type == "all" %} selected {% endif %}> Все </option>
                    <option value="1" {% if type == "1" %} selected {% endif %}> Добавление нового товара </option>
                    <option value="2" {% if type == "2" %} selected {% endif %}> Изменение наличия товара </option>
                    <option value="3" {% if type == "3" %} selected {% endif %}> Изменение цены товара </option>
                    <option value="4" {% if type == "4" %} selected {% endif %}> Изменение фотографии товара </option>
                    <option value="5" {% if type == "5" %} selected {% endif %}> Изменение характеристик товара </option>
                    <option value="9" {% if type == "9" %} selected {% endif %}> Изменение артикула товара </option>
                    <option value="6" {% if type == "6" %} selected {% endif %}> Изменение курса поставщика </option>
                    <option value="7" {% if type == "7" %} selected {% endif %}> Изменение адреса поставщика </option>
                    <option value="8" {% if type == "8" %} selected {% endif %}> Новости администратора </option>
                    <option value="10" {% if type == "10" %} selected {% endif %}> Все, кроме добавления нового товара </option>
                </select>
            </div>
            <div class="col-lg-2 col-xs-4">
                <select size="1" name="provider" class="form-control" required>
                    <option disabled>Выберите поставщика</option>
                    <option value="all" {% if provider == "all" %} selected {% endif %}> Все </option>
                    {% for iprovider in providers %}
                        <option value="{{iprovider.id}}" {% if provider == iprovider.id %} selected {% endif %}>{{iprovider.provider_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <input type="date" class="form-control" name="from_date" value="{{from_date}}" required>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <input type="date" class="form-control" name="to_date" value="{{to_date}}" required>
            </div>
            <div class="col-lg-4 col-xs-8">
                <button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">Отфильтровать</button>
            </div>
        </div>
    </form>
    <hr>
    <form action="/store/news/download" method="post">
        <div class="row">
    	{% if user.role == 'STORE' %}
            <div class="col-lg-3 col-xs-6">
                <button type="submit" name="action" value="xlsx" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">Скачать выделенные</button>
            </div>
        {% endif %}
            <div class="col-lg-6 {% if user.role != 'STORE' %} col-lg-offset-6 {% else %} col-lg-offset-3 {% endif %}">
                <ul class="pagination  pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/main_news?type={{type}}&provider={{provider}}&from_date={{from_date}}&to_date={{to_date}}&page={{page_pag-1}}" {% endif %}>← Previous</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/main_news?type={{type}}&provider={{provider}}&from_date={{from_date}}&to_date={{to_date}}&page={{page_li}}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/main_news?type={{type}}&provider={{provider}}&from_date={{from_date}}&to_date={{to_date}}&page={{page_pag+1}}" {% endif %}>Next →</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        	{% if user.role == 'STORE' %}
                            <th><input type="checkbox" onclick="
                                var bx=this; 
                                var cbs = document.getElementsByTagName('input');
                                for(var i=0; i < cbs.length; i++) {
                                    if(cbs[i].type == 'checkbox') {
                                        cbs[i].checked = bx.checked;}}"></th>
                            {% endif %}
                            <th>Дата</th>
                            <th>Новость</th>
                            <th>Поставщик</th>
                            <th>Адрес</th>
                            <th>Подробнее</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for new in news %}
                        <tr>
                        	{% if user.role == 'STORE' %}
                            <td>
                                {% if new.get('news_type_int') != 6 and new.get('news_type_int') != 7 and new.get('news_type_int') != 8%}
                                    <input type='checkbox' name='ids' value="{{ new.get('id') }}">
                                {% endif %}
                            </td>
                            {% endif %}
                            <td>
                                <h4>{{new.get('datetime')}}</h4>
                            </td>
                            <td>
                                <h4>{{new.get('news_type')}} {% if new.get('seen') %} (Скачано) {% endif %}</h4>
                            </td>
                            <td>
                                {% if new.get('news_type_int') != 8 %}
                                    <h4>{{new.get('provider_name')}}</h4>
                                {% endif %}
                            </td>
                            <td>
                                {% if new.get('news_type_int') != 8 %}
                                    {% if new.get('provider_address') %}
                                        <h4>{{new.get('provider_address')}}</h4>
                                    {% else %}
                                        <h4>Адрес не указан</h4>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if new.get('news_type_int') != 6 and new.get('news_type_int') != 7%}
                                <a href="/main_news/detail/{{new.id}}" style="background-color:#f7d744; color:#ffffff">
                                    <div class="btn btn-block" style="background-color:#f7d744; color:#ffffff">Подробнее</div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
        
    </form>

		</div>
	</div>

{% endblock %}