{% extends "base_main.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="container">
	<div class="brands">
		<div class="container">
			<h1>
				{{admin_message.tittle}}	
			</h1>
		</div>
	</div>
	<div class="row">
    	<div class="col-lg-12">
        	<p>{{admin_message.message}}</p>
        </div>
    </div>
</div>
{% endblock %} 