{% extends "base_main.html" %}
{% block content %}
<div class="container">

	<div class="brands">
		<div class="container">
			<h1>
				{% if news_type == 1 %}
				<b>Добавление нового товара</b>
				{% elif news_type == 2%}
				<b>Изменение наличия товара</b>
				{% elif news_type == 3%}
				<b>Изменение цены товара</b>
				{% elif news_type == 4%}
				<b>Изменение фотографии товара</b>
				{% elif news_type == 5%}
				<b>Изменение характеристик товара</b>
				{% elif news_type == 9%}
				<b>Изменение артикула товара</b>
				{% endif %}

				
			</h1>
		</div>
	</div>
	<form action="/store/products/download" method="post">
	<div class="row">
	{% if user.role == 'STORE' %}
        <div class="col-lg-3 col-xs-6">
            <button type="submit" class="btn btn-block" name='action' value='selected' style="background-color:#f7d744; color:#ffffff">Скачать выделенное</button>
        </div>
      	{% endif %}
    </div>
	<div class="row">
          	<div class="col-xs-12 table-responsive">
               <table class="table table-striped">
                   <thead>
                       <tr>
                       	{% if user.role == 'STORE' %}
                                  <th><input type="checkbox" onclick="
                              var bx=this; 
                              var cbs = document.getElementsByTagName('input');
                              for(var i=0; i < cbs.length; i++) {
                                  if(cbs[i].type == 'checkbox') {
                                      cbs[i].checked = bx.checked;}}"></th>
                          	{% endif %}
                           <th>Фото</th>

                           {% if displayed_fields.get('group')%}
                           <th>Группа</th>
                           {% endif %}

                           {% if displayed_fields.get('brand')%}
                           <th>Бренд</th>
                           {% endif %}

                           {% if news_type == 9%}
                           <th>Старый артикул</th>
                           {% endif %}

                           <th>Артикул</th>

                           {% if displayed_fields.get('provider')%}
                           <th>Поставщик</th>
                           {% endif %}

                           {% if news_type == 3%}
                           <th>Старая цена</th>
                           {% endif %}

                           {% if news_type == 3%}
                           <th>Старая цена сайт</th>
                           {% endif %}

                           <th>Цена</th>

                           <th>Цена сайт</th>

                           <th>Валюта</th>

                           {% if displayed_fields.get('sex')%}
                           <th>Пол</th>
                           {% endif %}

                           {% if displayed_fields.get('type')%}
                           <th>Тип</th>
                           {% endif %}

                           {% if displayed_fields.get('material_outside')%}
                           <th>Материал верха</th>
                           {% endif %}

                           {% if displayed_fields.get('material_inside')%}
                           <th>Материал внутри</th>
                           {% endif %}

                           {% if displayed_fields.get('material_insole')%}
                           <th>Материал стельки</th>
                           {% endif %}

                           {% if displayed_fields.get('size')%}
                           <th>Размер</th>
                           {% endif %}

                           {% if displayed_fields.get('repeat')%}
                           <th>Повторы</th>
                           {% endif %}

                           {% if displayed_fields.get('colour')%}
                           <th>Цвет</th>
                           {% endif %}

                           {% if displayed_fields.get('season')%}
                           <th>Сезон</th>
                           {% endif %}

                           {% if displayed_fields.get('box')%}
                           <th>Ящик</th>
                           {% endif %}

                           {% if displayed_fields.get('min_order')%}
                           <th>Минимальный заказ</th>
                           {% endif %}

                           {% if displayed_fields.get('manufacturer')%}
                           <th>Производитель</th>
                           {% endif %}

                           <th>Наличие</th>

                           {% if displayed_fields.get('date')%}
                           <th>Дата</th>
                           {% endif %}
                       </tr>
                   </thead>
                   <tbody>
                       {% for product in products %}
                       <tr>
                            {% if user.role == 'STORE' %}
                              <td><input type='checkbox' name='ids' value="{{ product.get('id') }}"></td>
                            {% endif %}
                           <td><img src="/thumbnails/{{ product.get('thumbnail') }}"/></td>

                           {% if displayed_fields.get('group')%}
                           <td {% if product.get('real_group') != product.get('old_group') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('group') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('brand')%}
                           <td {% if product.get('brand_name') != product.get('old_brand_name') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('brand_name') }}</td>
                           {% endif %}

                           {% if news_type == 9%}
                           <td>{% if product.get('old_articul') %}{{ product.get('old_articul') }}{% endif %}</td>
                           {% endif %}

                           <td>{{ product.get('articul') }}</td>

                           {% if displayed_fields.get('provider')%}
                           <td>{{ product.get('provider_name') }}</td>
                           {% endif %}

                           {% if news_type == 3 %}
                           <td style="color:rgba(0, 0, 0, 0.5); font-weight: bold; text-decoration: line-through;">{{ product.get('old_cost') }}</td>
                           {% endif %}

                           {% if news_type == 3 %}
                           <td style="color:rgba(0, 0, 0, 0.5); font-weight: bold; text-decoration: line-through;">{{ product.get('old_cost_site') }}</td>
                           {% endif %}

                           <td {% if news_type == 3 %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('cost') }} </td>

                           <td {% if news_type == 3 %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('cost_site') }}</td>
                           
                           <td>{{ product.get('currency') }}</td>

                           {% if displayed_fields.get('sex')%}
                           <td {% if product.get('sex') != product.get('old_sex') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('sex') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('type')%}
                           <td {% if product.get('type') != product.get('old_type') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('type') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('material_outside')%}
                           <td {% if product.get('material_outside') != product.get('old_material_outside') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('material_outside') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('material_inside')%}
                           <td {% if product.get('material_inside') != product.get('old_material_inside') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('material_inside') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('material_insole')%}
                           <td {% if product.get('material_insole') != product.get('old_material_insole') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('material_insole') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('size')%}
                           <td {% if product.get('size') != product.get('old_size') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('size') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('repeat')%}
                           <td {% if product.get('repeat') != product.get('old_repeat') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('repeat') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('colour')%}
                           <td {% if product.get('colour') != product.get('old_colour') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('colour') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('season')%}
                           <td {% if product.get('season') != product.get('old_season') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('season') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('box')%}
                           <td {% if product.get('box') != product.get('old_box') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('box') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('min_order')%}
                           <td {% if product.get('min_order') != product.get('old_min_order') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('min_order') }}</td>
                           {% endif %}

                           {% if displayed_fields.get('manufacturer')%}
                           <td {% if product.get('manufacturer') != product.get('old_manufacturer') and news_type == 5 %} style="color:red; font-weight: bold" {% endif %}>{{ product.get('manufacturer') }}</td>
                           {% endif %}

                           <td>{{ product.get('presence') }}</td>

                           {% if displayed_fields.get('date')%}
                           <td>{{ product.get('date') }}</td>
                           {% endif %}
                       </tr>
                       {% endfor %}
                   </tbody>
               </table>
           </div><!-- /.col -->
       </div><!-- /.row -->
   	</form>
   </div>


{% endblock %}