{% extends "base_main.html" %}
{% block content %}

		<div class="container">
			<div class="row">
				<h1>
					<b>{{ provider.provider_name }}</b>
				</h1>
			</div>
			<div class="row">
				{% if providers_settings.get('disp_provs_adrs').setting_value == 'True' %}
				<div class="col-lg-3">
					 <h4>Адрес: {{provider.address}}</h4> 
				</div>
				{% endif %}
				{% if providers_settings.get('disp_provs_phon').setting_value == 'True' and provider.provider_phone != "0" %}
				<div class="col-lg-3">
					 <h4>Телефон: {{provider.provider_phone}}</h4> 
				</div>
				{% endif %}
				{% if providers_settings.get('disp_provs_vibr').setting_value == 'True' and provider.provider_viber != "0" %}
				<div class="col-lg-3">
					 <h4>Viber: {{provider.provider_viber}}</h4> 
				</div>
				{% endif %}
				{% if providers_settings.get('disp_provs_mail').setting_value == 'True' and provider.provider_mail%}
				<div class="col-lg-3">
					 <h4>E-mail: {{provider.provider_mail}}</h4> 
				</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-lg-12">
					{% if providers_settings.get('disp_provs_doll').setting_value == 'True' and (provider.doll_to_uah != 0 or provider.market_rate) %} 
					<h4>Курс доллара: {% if provider.market_rate %} рыночный {% else %} {{provider.doll_to_uah}} {% endif %}</h4> 
					{% endif %}
					{% if providers_settings.get('disp_provs_euro').setting_value == 'True' and (provider.euro_to_uah != 0 or provider.market_rate) %} 
					<h4>Курас евро: {% if provider.market_rate %} рыночный {% else %} {{provider.euro_to_uah}} {% endif %}</h4> 
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h4>Последние загрузки товара: {%for date in dates%} <a style="margin-left:5px; color: #555; border: {% if date.get('range') %}3px{% else %}1px{% endif %} solid #555; padding: 3px; padding-left: 6px; border-radius: 3px;" href="/providers/{{provider.provider_name}}?from_date={{date.get('date')}}&to_date={{date.get('date')}}&page=1"> {{date.get('date')}} </a> {% endfor %}</h4>
				</div>
			</div>
			<hr>
			<form action="" method="get">
				<input type="hidden" name="page" value="1">
				<div class="row">
				<div class="col-lg-3 col-xs-6 form-group">
                	<input type="date" class="form-control" name="from_date" value="{{from_date}}" required>
            	</div>
            	<div class="col-lg-3 col-xs-6 form-group">
                	<input type="date" class="form-control" name="to_date" value="{{to_date}}" required>
            	</div>
            	<div class="col-lg-3 col-xs-6 form-group">
                	<input type="text" class="form-control" name="articul" {% if articul %}value="{{articul}}"{% endif %} placeholder="Артикул для поиска">
            	</div>
            	<div class="col-lg-3 col-xs-6">
                	<button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">Отфильтровать</button>
            	</div>
            </div>
            <hr>
			</form>
			<form action="/main/providers/download" method="post">
				<input type='hidden' name='provider' value='{{provider.id}}'>
				<input type='hidden' name='from_date' value='{{from_date}}'>
				<input type='hidden' name='to_date' value='{{to_date}}'>
			<div class="row">
			{% if user.role == 'STORE' %}
            	<div class="col-lg-3 col-xs-6">
                	<button type="submit" class="btn btn-block" name='action' value='selected' style="background-color:#f7d744; color:#ffffff">Скачать выделенное</button>
            	</div>
            	{% if not articul %}
            	<div class="col-lg-3 col-xs-6">
                	<button type="submit" class="btn btn-block" name='action' value='all' style="background-color:#f7d744; color:#ffffff">Скачать все</button>
            	</div>
            	{% endif %}
        	{% endif %}
        		<div class="col-lg-6 {% if not user.role == 'STORE' and not articul %} col-lg-offset-6 {% elif articul %} col-lg-offset-3 {% endif %}">
	                <ul class="pagination  pull-right">
	                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/providers/{{provider.provider_name}}?from_date={{from_date}}&to_date={{to_date}}&page={{page_pag-1}}{% if articul %}&articul={{articul}}{% endif %}" {% endif %}>← Previous</a></li>
	                    {% for page_li in pages_li %}
	                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/providers/{{provider.provider_name}}?from_date={{from_date}}&to_date={{to_date}}&page={{page_li}}{% if articul %}&articul={{articul}}{% endif %}">{{page_li}}</a></li>
	                    {% endfor %}
	                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/providers/{{provider.provider_name}}?from_date={{from_date}}&to_date={{to_date}}&page={{page_pag+1}}{% if articul %}&articul={{articul}}{% endif %}" {% endif %}>Next →</a></li>
	                </ul>
	            </div>
        	</div>
        	
			<div class="row">
            	<div class="col-xs-12 table-responsive">
	                <table class="table table-striped">
	                    <thead>
	                        <tr>
	                        	{% if user.role == 'STORE' %}
                                    <th><input type="checkbox" onclick="
                                var bx=this; 
                                var cbs = document.getElementsByTagName('input');
                                for(var i=0; i < cbs.length; i++) {
                                    if(cbs[i].type == 'checkbox') {
                                        cbs[i].checked = bx.checked;}}"></th>
                            	{% endif %}
	                            <th>Фото</th>
	                            <th></th>
	                            {% if displayed_fields.get('group')%}
	                            <th>Группа</th>
	                            {% endif %}
	                            {% if displayed_fields.get('brand')%}
	                            <th>Бренд</th>
	                            {% endif %}
	                            <th>Артикул</th>
	                            {% if displayed_fields.get('provider')%}
	                            <th>Поставщик</th>
	                            {% endif %}
	                            <th>Цена</th>
	                            <th>Цена сайт</th>
	                            <th>Валюта</th>
	                            {% if displayed_fields.get('sex')%}
	                            <th>Пол</th>
	                            {% endif %}
	                            {% if displayed_fields.get('type')%}
	                            <th>Тип</th>
	                            {% endif %}
	                            {% if displayed_fields.get('material_outside')%}
	                            <th>Материал верха</th>
	                            {% endif %}
	                            {% if displayed_fields.get('material_inside')%}
	                            <th>Материал внутри</th>
	                            {% endif %}
	                            {% if displayed_fields.get('material_insole')%}
	                            <th>Материал стельки</th>
	                            {% endif %}
	                            {% if displayed_fields.get('size')%}
	                            <th>Размер</th>
	                            {% endif %}
	                            {% if displayed_fields.get('repeat')%}
	                            <th>Повторы</th>
	                            {% endif %}
	                            {% if displayed_fields.get('colour')%}
	                            <th>Цвет</th>
	                            {% endif %}
	                            {% if displayed_fields.get('season')%}
	                            <th>Сезон</th>
	                            {% endif %}
	                            {% if displayed_fields.get('box')%}
	                            <th>Ящик</th>
	                            {% endif %}
	                            {% if displayed_fields.get('min_order')%}
	                            <th>Минимальный заказ</th>
	                            {% endif %}
	                            {% if displayed_fields.get('manufacturer')%}
	                            <th>Производитель</th>
	                            {% endif %}
	                            {% if displayed_fields.get('date')%}
	                            <th>Дата</th>
	                            {% endif %}
	                        </tr>
	                    </thead>
	                    <tbody>
	                        {% for product in products %}
	                        <tr>
	                        	{% if user.role == 'STORE' %}
                                <td><input type='checkbox' name='ids' value="{{ product.get('id') }}"></td>
                            	{% endif %}
	                            <td><img src="/thumbnails/{{ product.get('thumbnail') }}"/></td>
	                            <td>{% if product.get('accept')%} <i class="fa fa-check"></i> {% else %} <i class="fa fa-times-circle-o"></i> {% endif %}</td>
	                            {% if displayed_fields.get('group')%}
	                            <td>{{ product.get('group') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('brand')%}
	                            <td>{{ product.get('brand_name') }}</td>
	                            {% endif %}
	                            <td>{{ product.get('articul') }}</td>
	                            {% if displayed_fields.get('provider')%}
	                            <td>{{ product.get('provider_name') }}</td>
	                            {% endif %}
	                            <td>{{ product.get('cost') }}</td>
	                            <td>{{ product.get('cost_site') }}</td>
	                            <td>{{ product.get('currency') }}</td>
	                            {% if displayed_fields.get('sex')%}
	                            <td>{{ product.get('sex') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('type')%}
	                            <td>{{ product.get('type') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('material_outside')%}
	                            <td>{{ product.get('material_outside') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('material_inside')%}
	                            <td>{{ product.get('material_inside') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('material_insole')%}
	                            <td>{{ product.get('material_insole') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('size')%}
	                            <td>{{ product.get('size') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('repeat')%}
	                            <td>{{ product.get('repeat') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('colour')%}
	                            <td>{{ product.get('colour') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('season')%}
	                            <td>{{ product.get('season') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('box')%}
	                            <td>{{ product.get('box') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('min_order')%}
	                            <td>{{ product.get('min_order') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('manufacturer')%}
	                            <td>{{ product.get('manufacturer') }}</td>
	                            {% endif %}
	                            {% if displayed_fields.get('date')%}
	                            <td>{{ product.get('date') }}</td>
	                            {% endif %}
	                        </tr>
	                        {% endfor %}
	                    </tbody>
	                </table>
	            </div><!-- /.col -->
	        </div><!-- /.row -->
	    	</form>
	    	<div class="row">
        		<div class="col-lg-6 col-lg-offset-6">
	                <ul class="pagination  pull-right">
	                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/providers/{{provider.provider_name}}?from_date={{from_date}}&to_date={{to_date}}&page={{page_pag-1}}{% if articul %}&articul={{articul}}{% endif %}" {% endif %}>← Previous</a></li>
	                    {% for page_li in pages_li %}
	                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/providers/{{provider.provider_name}}?from_date={{from_date}}&to_date={{to_date}}&page={{page_li}}{% if articul %}&articul={{articul}}{% endif %}">{{page_li}}</a></li>
	                    {% endfor %}
	                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/providers/{{provider.provider_name}}?from_date={{from_date}}&to_date={{to_date}}&page={{page_pag+1}}{% if articul %}&articul={{articul}}{% endif %}" {% endif %}>Next →</a></li>
	                </ul>
	            </div>
        	</div>
		</div>

{% endblock %}