{% extends "base_main.html" %}
{% block content %}

	<div class="search">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
        <form action="" method="get">
            <div class="container-4">
              <input type="search" name="search" id="search" placeholder="Поиск..." {% if search %} value="{{search}}" {% endif %} required/>
              <button type='submit' class="icon">Поиск</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>

	<div class="brands">
		<div class="container">
			<h1>
				<b>Поставщики</b>
			</h1>
			<div class="row brand-list-cont">
				<div class="col-xs-12 table-responsive">
                    <table style="width:100%" border="0" cellpadding="1" cellspacing="0">
						{% for row in providers %}
							<tr> 
								{% for cell in row %}
					   				<td><a style="font-size: 24px;" href="/providers/{{cell.provider_name}}">{{cell.provider_name}} </a></td>
					   			{% endfor %}
					   		</tr>
					   	{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}