{% extends "base_main_noauth.html" %}
{% block content %}
        <div class="form-box" id="login-box">
            <div class="header">В ближайшее время с Вами свяжется администратор для активации Вашего аккаунта</div>
            <div class="footer">
                <button onclick="window.location='/login';" class="btn bg-yellow btn-block">Вход</button>
            </div>
        </div>
{% endblock %}