{% extends "base_main_noauth.html" %}
{% block content %}

        <div class="form-box" id="login-box">
            <div class="header">Регистрация</div>
            <form action="" method="post">
                <div class="body bg-gray">
                    <div class="form-group">
                        <p> Введите логин</p>
                        <input type="text" name="user_name" class="form-control" placeholder="Логин" minlength='4' maxlength='64' required/>
                    </div>
                    <div class="form-group">
                        <p> Введите пароль</p>
                        <input type="password" name="password" class="form-control" placeholder="Пароль" minlength='4' maxlength='16' required/>
                    </div>
                    <div class="form-group">
                        <p> Повторите пароль</p>
                        <input type="password" name="password2" class="form-control" placeholder="Повторите пароль" minlength='4' maxlength='16' required/>
                    </div>
                    <div class="form-group">
                        <p> Введите номер телефона </p>
                        <input type="tel" name="phone_number" class="form-control" placeholder="+380951234567" maxlength='13' required/>
                    </div>
                    <div class="form-group">
                        <p> Введите название интернет-магазина</p>
                        <input type="text" name="store_name" class="form-control" placeholder="Введите название интернет-магазина" maxlength='30' required/>
                    </div>
                    <div class="form-group">
                        <p> Введите адрес интернет-магазина</p>
                        <input type="text" name="store_address" class="form-control" placeholder="Введите адрес интернет-магазина" maxlength='30' required/>
                    </div>
                    <div class="form-group">
                        <p> Введите e-mail</p>
                        <input type="email" name="e_mail" class="form-control" placeholder="Введите e-mail" maxlength='30'/>
                    </div>
                    <div class="form-group">
                        <p> Введите ФИО директора</p>
                        <input type="text" name="director_name" class="form-control" maxlength='30'/>
                    </div>
                    <div class="form-group">
                        <p> Введите номер телефона директора</p>
                        <input type="tel" name="director_phone" class="form-control" placeholder="+380951234567" minlength='13' maxlength='13'/>
                    </div>
                    <button type="submit" class="btn bg-yellow btn-block">Зарегистрироваться</button>
                    {% if error_log %}
                        <p style="color:red"> {{error_log}} </p>
                    {% endif %}
                </div>
            </form>
        </div>

        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

{% endblock %}