{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Добавление водяного знака для пользователя {{ user_store_info.store_name }}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    {% if user_store_info.water_mark == True %}
    <div class="row">
        <div class="col-lg-4">
            <img src="/watermarks/{{ user.id }}.png" class = "img-responsive" width="100%" height="100%"/>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Вставить фото</label>
                        <input type="file" name="file" id="exampleInputFile">
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Принять</button>
                </div>
                {% if error_log %}
                    <p style="color:red"> {{error_log}} </p>
                {% endif %}
            </form>
        </div>
    </div>  
</section><!-- /.content -->
{% endblock %}