{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Отчёт по загрузке
    </h1>
</section>
<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                {% for head in header %}
                <td>
                    {{head}}
                </td>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row_body in table_body %}
                <tr>
                    {% for cell in row_body %}
                    <td>
                        {{cell}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- /.col -->
</div><!-- /.row -->
</section><!-- /.content -->
{% endblock %} 