{% extends "base_admin.html" %}
{% block content %}
<script language="JavaScript">
    function checkAll(bx) {
    var cbs = document.getElementsByTagName('input');
        for(var i=0; i < cbs.length; i++) {
            if(cbs[i].type == 'checkbox') {
                cbs[i].checked = bx.checked;
            }
        }
    }
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Изменения товаров
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="" method="get">
        <div class="row">
            <div class="col-lg-4 col-xs-8">
                <label for="exampleInputEmail1">Выберите поставщика</label>
            </div>
            <div class="col-lg-4 col-xs-8">
                <label for="exampleInputEmail1">Выберите автора изменений</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-8">
                <select size="1" name="provider" class="form-control" required>
                    <option disabled>Выберите поставщика</option>
                    <option value="all" {% if provider == "all" %} selected {% endif %}> Все </option>
                    {% for iprovider in providers %}
                        <option value="{{iprovider.id}}" {% if provider == iprovider.id %} selected {% endif %}>{{iprovider.provider_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-4 col-xs-8">
                <select size="1" name="admin" class="form-control" required>
                    <option disabled>Выберите автора изменений</option>
                    <option value="all" {% if admin == "all" %} selected {% endif %}> Все </option>
                    <option value="0" {% if admin == 0 %} selected {% endif %}>Поставщик</option>
                    {% for iadmin in admins %}
                        <option value="{{iadmin.id}}" {% if admin == iadmin.id %} selected {% endif %}>{{iadmin.admin_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-4 col-xs-8">
                <button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">Отфильтровать</button>
            </div>
        </div>
    </form>
    <hr>
    <form action="/admin/products/changes/action" method="post">
        <input type='hidden' name='admin' value='{{admin}}'>
        <input type='hidden' name='provider' value='{{provider}}'>
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <button type="submit" name="action" value="accept" class="btn btn-primary">Подтвердить</button>
            </div>
            <div class="col-lg-1 col-xs-2 col-lg-offset-9">
                <button type="submit" name="action" value="delete" class="btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" onclick="
                                var bx=this; 
                                var cbs = document.getElementsByTagName('input');
                                for(var i=0; i < cbs.length; i++) {
                                    if(cbs[i].type == 'checkbox') {
                                        cbs[i].checked = bx.checked;}}"></th>
                            <th>Артикул</th>
                            <th>Цена</th>
                            <th>Цена сайт</th>
                            <th>Валюта</th>
                            <th>Группа</th>
                            <th>Бренд</th>
                            <th>Пол</th>
                            <th>Тип</th>
                            <th>Мат. верха</th>
                            <th>Мат. внутри</th>
                            <th>Мат. стельки</th>
                            <th>Размер</th>
                            <th>Повторы</th>
                            <th>Цвет</th>
                            <th>Сезон</th>
                            <th>Ящик</th>
                            <th>Мин. заказ</th>
                            <th>Произв.</th>
                            <th>Нал.</th>
                            <th class="small-th"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td><input type='checkbox' name='ids' value="{{ product.get('id') }}"></td>
                            
                            <td {% if product.get('new_articul') != product.get('articul') %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_articul') }}</td>
                            <td {% if product.get('new_cost') != product.get('cost') %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_cost') }}</td>
                            <td {% if product.get('new_cost_site') != product.get('cost_site') %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_cost_site') }}</td>
                            <td {% if product.get('new_currency').lower() != product.get('currency').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_currency') }}</td>
                            <td {% if product.get('new_group').lower() != product.get('group').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_group') }}</td>
                            <td {% if product.get('new_brand_name').lower() != product.get('brand_name').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_brand_name') }}</td>
                            <td {% if product.get('new_sex').lower() != product.get('sex').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_sex') }}</td>
                            <td {% if product.get('new_type').lower() != product.get('type').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_type') }}</td>
                            <td {% if product.get('new_material_outside').lower() != product.get('material_outside').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_material_outside') }}</td>
                            <td {% if product.get('new_material_inside').lower() != product.get('material_inside').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_material_inside') }}</td>
                            <td {% if product.get('new_material_insole').lower() != product.get('material_insole').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_material_insole') }}</td>
                            <td {% if product.get('new_size').lower() != product.get('size').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_size') }}</td>
                            <td {% if product.get('new_repeat').lower() != product.get('repeat').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_repeat') }}</td>
                            <td {% if product.get('new_colour').lower() != product.get('colour').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_colour') }}</td>
                            <td {% if product.get('new_season').lower() != product.get('season').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_season') }}</td>
                            <td {% if product.get('new_box').lower() != product.get('box').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_box') }}</td>
                            <td {% if product.get('new_min_order').lower() != product.get('min_order').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_min_order') }}</td>
                            <td {% if product.get('new_manufacturer').lower() != product.get('manufacturer').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_manufacturer') }}</td>
                            <td {% if product.get('new_presence').lower() != product.get('presence').lower() %} style="color:rgb(55, 166, 30); font-weight: bold;" {% endif %}>{{ product.get('new_presence') }}</td>
                            <td>
                                <a href="/admin/products/edit/{{product.get('id')}}">
                                    <div class="btn btn-primary">Ред.</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}