{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Прайс № {{price_detail.get('price').id }}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-2 col-xs-4">
            <label for="exampleInputEmail1">Поставщики</label>
        </div>
        <div class="col-lg-2 col-xs-4">
            <label for="exampleInputEmail1">Сезоны</label>
        </div>
        <div class="col-lg-2 col-xs-4">
            <label for="exampleInputEmail1">Наличия</label>
        </div>
        <div class="col-lg-2 col-xs-4">
            <label for="exampleInputEmail1">Группы</label>
        </div>
        <div class="col-lg-2 col-xs-2">
            <label for="exampleInputEmail1">Сортировка</label>
        </div>
        <div class="col-lg-2 col-xs-4">
            <label for="exampleInputEmail1">Фото</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-xs-4 form-group">
            {% for provider in price_detail.get('providers') %}
            <div class="checkbox">
                <label>
                    {{ provider.provider_name }}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-2 col-xs-4 form-group">
            {% for season in price_detail.get('seasons') %}
            <div class="checkbox">
                <label>
                    {{ season.column_value }}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-2 col-xs-4 form-group">
            {% for presence in price_detail.get('presences') %}
            <div class="checkbox">
                <label>
                    {{ presence.column_value }}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-2 col-xs-4 form-group">
            {% for group in price_detail.get('groups') %}
            <div class="checkbox">
                <label>
                    {{ group.column_value }}
                </label>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-2 col-xs-2 form-group">
            {% for sort in price_detail.get('sortings') %}
            {% if sort.column_type == 'articul' %}
            <div class="checkbox">
                <label>
                    Артикул
                </label>
            </div>
            {% elif sort.column_type == 'group' %}
            <div class="checkbox">
                <label>
                    Группа
                </label>
            </div>
            {% elif sort.column_type == 'season' %}
            <div class="checkbox">
                <label>
                    Сезон
                </label>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-lg-2 col-xs-4 form-group">
            {% if price_detail.get('price').photo %}
            <div class="checkbox">
                <label>
                    с фотографиями
                </label>
            </div>
            {% else %}
            <div class="checkbox">
                <label>
                    без фотографий
                </label>
            </div>
            {% endif %}
        </div>
    </div>
</section><!-- /.content -->
{% endblock %} 