{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Редактирование прайса
    </h1>
</section>
<!-- Main content -->
<section class="content">
  <form action="" method="post" onkeypress="return event.keyCode != 13;">
    <div class="row">
      <div class='col-lg-3 connectedSortable'>
        <button type="submit" class="btn btn-lg btn-primary">Редактировать страницу</button>
      </div>
    <div class="row">
      <div class="col-lg-12">
        <table style="width:100%" border="1" cellpadding="4" cellspacing="0">
          {% for i in range(0, pages|length) %}
            <tr>
              <th colspan="6">{{provider_name}}</th>
              <th colspan="4">Лист {{i+1}}</th>
            </tr>
            <tr>
              <th>Фото</th>
              <th>Артикул</th>
              <th>Разм.</th>
              <th>П.</th>
              <th>В.</th>
              <th>Цена</th>
              <th>Сайт</th>
              <th>NEW цена</th>
              <th>NEW сайт</th>
              <th>Наличие</th>
            </tr>
            {% for product in pages[i] %}
              <tr>
                <input type="hidden" name="ids" value="{{product.get('id')}}"/>
                <td class="col-md-1">
                  <img src="/thumbnails/{{ product.get('thumbnail') }}"/>
                </td>
                <td>{{product.get('articul')}}</td>
                <td>{{product.get('size')}}</td>
                <td>{{product.get('box')}}</td>
                <td>{{product.get('currency')}}</td>
                <td>{{product.get('cost')}}</td>
                <td>{{product.get('cost_site')}}</td>
                <td class="col-md-1"><input type="text" name="cost{{product.get('id')}}" class="form-control" maxlength="10"/></td>
                <td class="col-md-1"><input type="text" name="cost_site{{product.get('id')}}" class="form-control" maxlength="10"/></td>
                <td class="col-md-1">
                  <input type="checkbox" name="presence{{product.get('id')}}" {% if product.get('presence').lower() == 'нет' %} checked {% endif %}>
                </td>
              </tr>
            {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div><!-- /.row -->
  </form>
</section><!-- /.content -->
{% endblock %} 