{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Загрузка товара
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="checkout" value="0">
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "id"</label>
                <input type="text" name="id" class="form-control" placeholder='Поле "id"' value="{{upload_fields.get('id').column_name}}" maxlength="20" required/>
            </div>  
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Артикул"</label>
                <input type="text" name="articul" class="form-control" placeholder='Поле "Артикул"' value="{{upload_fields.get('articul').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Бренд"</label>
                <input type="text" name="brand_name" class="form-control" placeholder='Поле "Бренд"' value="{{upload_fields.get('brand_name').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Поставщик"</label>
                <input type="text" name="provider_name" class="form-control" placeholder='Поле "Поставщик"' value="{{upload_fields.get('provider_name').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Цена"</label>
                <input type="text" name="cost" class="form-control" placeholder='Поле "Цена"' value="{{upload_fields.get('cost').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Цена сайт"</label>
                <input type="text" name="cost_site" class="form-control" placeholder='Поле "Цена сайт"' value="{{upload_fields.get('cost_site').column_name}}" maxlength="20" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Валюта"</label>
                <input type="text" name="currency" class="form-control" placeholder='Поле "Валюта"' value="{{upload_fields.get('currency').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Наличие"</label>
                <input type="text" name="presence" class="form-control" placeholder='Поле "Наличие"' value="{{upload_fields.get('presence').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Пол"</label>
                <input type="text" name="sex" class="form-control" placeholder='Поле "Пол"' value="{{upload_fields.get('sex').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Группа"</label>
                <input type="text" name="group" class="form-control" placeholder='Поле "Группа"' value="{{upload_fields.get('group').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Тип"</label>
                <input type="text" name="type" class="form-control" placeholder='Поле "Тип"' value="{{upload_fields.get('type').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Материал верха"</label>
                <input type="text" name="material_outside" class="form-control" placeholder='Поле "Материал верха"' value="{{upload_fields.get('material_outside').column_name}}" maxlength="20" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Материал внутри"</label>
                <input type="text" name="material_inside" class="form-control" placeholder='Поле "Материал внутри"' value="{{upload_fields.get('material_inside').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Материал стельки"</label>
                <input type="text" name="material_insole" class="form-control" placeholder='Поле "Материал стельки"' value="{{upload_fields.get('material_insole').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Размер"</label>
                <input type="text" name="size" class="form-control" placeholder='Поле "Размер"' value="{{upload_fields.get('size').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Повторы"</label>
                <input type="text" name="repeat" class="form-control" placeholder='Поле "Повторы"' value="{{upload_fields.get('repeat').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Цвет"</label>
                <input type="text" name="colour" class="form-control" placeholder='Поле "Цвет"' value="{{upload_fields.get('colour').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Сезон"</label>
                <input type="text" name="season" class="form-control" placeholder='Поле "Сезон"' value="{{upload_fields.get('season').column_name}}" maxlength="20" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Ящик"</label>
                <input type="text" name="box" class="form-control" placeholder='Поле "Ящик"' value="{{upload_fields.get('box').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Минимальный заказ"</label>
                <input type="text" name="min_order" class="form-control" placeholder='Поле "Минимальный заказ"' value="{{upload_fields.get('min_order').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Производитель"</label>
                <input type="text" name="manufacturer" class="form-control" placeholder='Поле "Производитель"' value="{{upload_fields.get('manufacturer').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Описание"</label>
                <input type="text" name="descreption" class="form-control" placeholder='Поле "Описание"' value="{{upload_fields.get('descreption').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Фото1"</label>
                <input type="text" name="photo_1" class="form-control" placeholder='Поле "Фото1"' value="{{upload_fields.get('photo_1').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Фото2"</label>
                <input type="text" name="photo_2" class="form-control" placeholder='Поле "Фото2"' value="{{upload_fields.get('photo_2').column_name}}" maxlength="20" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Поле "Фото3"</label>
                <input type="text" name="photo_3" class="form-control" placeholder='Поле "Фото3"' value="{{upload_fields.get('photo_3').column_name}}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите разделитель</label>
                <select size="1" name="delimeter" class="form-control" required>
                    <option value="," {% if delimeter == ',' %} selected {% endif %}> Запятая (,) </option>
                    <option value=";" {% if delimeter == ';' %} selected {% endif %}> Точка с запятой (;) </option>
                </select>
            </div>
        </div>                   
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Принять</button>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %}   