{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Регистрация пользователя-поставщика
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="form-box" id="login-box">
        <div class="header">Регистрация поставщика</div>
        <form action="" method="post">
            <div class="body bg-gray">
                <div class="form-group">
                    <p> Логин </p>
                    <input type="text" name="user_name" class="form-control" placeholder="Логин" minlength="4" maxlength="30" required/>
                </div>
                <div class="form-group">
                    <p> Пароль </p>
                    <input type="password" name="password" class="form-control" placeholder="Пароль" minlength="4" maxlength="16" required/>
                </div>
                <div class="form-group">
                    <p> Подтверждение пароля </p>
                    <input type="password" name="confirm_password" class="form-control" placeholder="Пароль" minlength="4" maxlength="16" required/>
                </div>
                <div class="form-group">
                    <p> Выберите поставщика </p>
                    <select size="1" name="provider_id" class="form-control" required>
                        {% for provider in providers %}
                            <option value="{{provider.id}}"> {{provider.provider_name}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <p> Доступ к фотографиям </p>
                    <select size="1" name="access_photo" class="form-control" required>
                        <option value="True"> Есть </option>
                        <option value="False"> Нет </option>
                    </select>
                </div>
                <div class="form-group">
                    <p> Выберите язык поставщика </p>
                    <select size="1" name="locale" class="form-control" required>
                        <option value="Ru"> Русский </option>
                        <option value="Ch"> Китайский </option>
                    </select>
                </div>
                <button type="submit" class="btn bg-yellow btn-block">Зарегистрировать</button>
                {% if error_log %}
                    <p style="color:red"> {{error_log}} </p>
                {% endif %}
            </div>
        </form>
    </div>
</section><!-- /.content -->
{% endblock %}