{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Товар
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Фото</th>
                        {% if displayed_fields.get('group')%}
                        <th>Группа</th>
                        {% endif %}
                        {% if displayed_fields.get('brand')%}
                        <th>Бренд</th>
                        {% endif %}
                        {% if news_type == 9%}
                        <th>Старый артикул</th>
                        {% endif %}
                        <th>Артикул</th>
                        {% if displayed_fields.get('provider')%}
                        <th>Поставщик</th>
                        {% endif %}
                        {% if news_type == 3%}
                        <th>Старая цена</th>
                        {% endif %}
                        <th>Цена</th>
                        {% if news_type == 3%}
                        <th>Старая цена сайт</th>
                        {% endif %}
                        <th>Цена сайт</th>
                        <th>Валюта</th>
                        {% if displayed_fields.get('sex')%}
                        <th>Пол</th>
                        {% endif %}
                        {% if displayed_fields.get('group')%}
                        <th>Группа</th>
                        {% endif %}
                        {% if displayed_fields.get('type')%}
                        <th>Тип</th>
                        {% endif %}
                        {% if displayed_fields.get('material_outside')%}
                        <th>Материал верха</th>
                        {% endif %}
                        {% if displayed_fields.get('material_inside')%}
                        <th>Материал внутри</th>
                        {% endif %}
                        {% if displayed_fields.get('material_insole')%}
                        <th>Материал стельки</th>
                        {% endif %}
                        {% if displayed_fields.get('size')%}
                        <th>Размер</th>
                        {% endif %}
                        {% if displayed_fields.get('repeat')%}
                        <th>Повторы</th>
                        {% endif %}
                        {% if displayed_fields.get('colour')%}
                        <th>Цвет</th>
                        {% endif %}
                        {% if displayed_fields.get('season')%}
                        <th>Сезон</th>
                        {% endif %}
                        {% if displayed_fields.get('box')%}
                        <th>Ящик</th>
                        {% endif %}
                        {% if displayed_fields.get('min_order')%}
                        <th>Минимальный заказ</th>
                        {% endif %}
                        {% if displayed_fields.get('manufacturer')%}
                        <th>Производитель</th>
                        {% endif %}
                        {% if news_type == 2%}
                        <th>Старое наличие</th>
                        {% endif %}
                        <th>Наличие</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td><img src="/thumbnails/{{ product.get('thumbnail') }}"/></td>
                        {% if displayed_fields.get('group')%}
                        <td>{{ product.get('group') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('brand')%}
                        <td>{{ product.get('brand_name') }}</td>
                        {% endif %}
                        {% if news_type == 9%}
                        <td>{{ product.get('old_articul') }}</td>
                        {% endif %}
                        <td>{{ product.get('articul') }}</td>
                        {% if displayed_fields.get('provider')%}
                        <td>{{ product.get('provider_name') }}</td>
                        {% endif %}
                        {% if news_type == 3 %}
                        <td>{{ product.get('old_cost') }}</td>
                        {% endif %}
                        <td>{{ product.get('cost') }}</td>
                        {% if news_type == 3 %}
                        <td>{{ product.get('old_cost_site') }}</td>
                        {% endif %}
                        <td>{{ product.get('cost_site') }}</td>
                        <td>{{ product.get('currency') }}</td>
                        {% if displayed_fields.get('sex')%}
                        <td>{{ product.get('sex') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('group')%}
                        <td>{{ product.get('group') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('type')%}
                        <td>{{ product.get('type') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('material_outside')%}
                        <td>{{ product.get('material_outside') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('material_inside')%}
                        <td>{{ product.get('material_inside') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('material_insole')%}
                        <td>{{ product.get('material_insole') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('size')%}
                        <td>{{ product.get('size') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('repeat')%}
                        <td>{{ product.get('repeat') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('colour')%}
                        <td>{{ product.get('colour') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('season')%}
                        <td>{{ product.get('season') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('box')%}
                        <td>{{ product.get('box') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('min_order')%}
                        <td>{{ product.get('min_order') }}</td>
                        {% endif %}
                        {% if displayed_fields.get('manufacturer')%}
                        <td>{{ product.get('manufacturer') }}</td>
                        {% endif %}
                        {% if news_type == 2 %}
                        <td>{{ product.get('old_presence') }}</td>
                        {% endif %}
                        <td>{{ product.get('presence') }}</td>
                        <td>{{ product.get('date') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %}
            