{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Удаление поставщика
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form method="post">
    <div class="row">
        <div class="col-lg-12 col-xs-12 form-group">
            <label for="exampleInputFile">Будет удалено пользователей {{quantity_users}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 form-group">
            <label for="exampleInputFile">Будет удалено ограничений {{quantity_constraints}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 form-group">
            <label for="exampleInputFile">Будет удалено товаров {{quantity_products}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 form-group">
            <label for="exampleInputFile">Будет удалено новостей {{quantity_news}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 form-group">
            <label for="exampleInputFile">Будет удалено наименований {{quantity_names}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 form-group">
            <label for="exampleInputFile">Будет удалено фильтров {{quantity_filters}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12 form-group">
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
    </div>
    </form>
</section><!-- /.content -->
{% endblock %}