{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Удаление товаров
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
        <div class='row'>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputFile">Количество дней</label>
            </div>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputFile">Наличие</label>
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-3 col-xs-6 form-group">
                <input type="number" name="days" class="form-control" value="30" maxlength="5" required>
            </div>
            <div class="col-lg-3 col-xs-6">
                <select size="1" name="presence" class="form-control" required>
                    <option disabled>Выберите наличие</option>
                    {% for presence_option in presence_options %}
                        {% if presence_option != 'есть' %}
                        <option value="{{presence_option}}">{{presence_option}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
        {% if success_log %}
            <p style="color:green"> {{success_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %}
            