{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Отчёт загрйзки по администраторам
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form action='/admin/users/reports/table' method='get'>
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <label for="exampleInputEmail1">Выберите дату</label>
            </div>
            <div class="col-lg-2 col-xs-4">
                <label for="exampleInputEmail1">Выберите дату</label>
            </div>
            <div class="col-lg-2 col-xs-4">
                <label for="exampleInputEmail1">Выберите тип</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <input type="date" class="form-control" name="from_date" value="{{min_date}}" min="{{min_date}}" max="{{max_date}}" required>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <input type="date" class="form-control" name="to_date" value="{{max_date}}" min="{{min_date}}" max="{{max_date}}" required>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div style="display: block"><input type='radio' name='layout' value='without' required> Без разбивки </div>
                <div style="display: block"><input type='radio' name='layout' value='day' required> По дням </div>
                <div style="display: block"><input type='radio' name='layout' value='month' required> По месяцам </div>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Отчёт</button>
            </div>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %} 