{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Смена пароля
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
        <div class='row'>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputFile">Введите новый пароль</label>
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-3 col-xs-6 form-group">
                <input type="password" id="password" class="form-control" name="new_password" required>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %} 