{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{admin_message.tittle}}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
    	<div class="col-lg-12">
        	<p>{{admin_message.message}}</p>
        </div>
    </div>
</section><!-- /.content -->
{% endblock %} 