{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Сообщение №{{feedback.id}}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class='row'>
        <div class="col-lg-3 col-xs-6">
            <label for="exampleInputFile">{{feedback.name}}</label>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-3 col-xs-6">
            <label for="exampleInputFile">{{feedback.phone}}</label>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-3 col-xs-6">
            <label for="exampleInputFile">{{feedback.email}}</label>
        </div>
    </div>
    <div class='row'>
        <div class="col-lg-12 col-xs-24">
            <p>{{feedback.message}}</p>
        </div>
    </div>
    {% if error_log %}
        <p style="color:red"> {{error_log}} </p>
    {% endif %}
</section><!-- /.content -->
{% endblock %}
            