{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Обратная связь
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="/admin/news/set_visible_news" method="post">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <ul class="pagination  pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/admin/feedback?page={{page_pag-1}}" {% endif %}>← Previous</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/admin/feedback?page={{page_li}}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/admin/feedback?page={{page_pag+1}}" {% endif %}>Next →</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Сообщение</th>
                            <th>Почта</th>
                            <th>Телефон</th>
                            <th>Дата</th>
                            <th>Подробнее</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feedback in feedbacks %}
                        <tr>
                            <td>{{feedback.get('name')}}</td>
                            <td>{{feedback.get('message')}}</td>
                            <td>{{feedback.get('email')}}</td>
                            <td>{{feedback.get('phone')}}</td>
                            <td>{{feedback.get('date')}}</td>
                            <td>
                                <a href="/admin/feedback/{{feedback.get('id')}}">
                                    <div class="btn btn-primary">Подробнее</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}