{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Выгруженные прайсы
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="/admin/news/set_visible_news" method="post">
        <div class="row">
            <div class="col-lg-2">
                <a href="/admin/price/delete_old">
                    <div class="btn btn-danger">Удалить старые</div>
                </a>
            </div>
            <div class="col-lg-6 col-lg-offset-4">
                <ul class="pagination  pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/admin/price/all?page={{page_pag-1}}" {% endif %}>← Previous</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/admin/price/all?page={{page_li}}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/admin/price/all?page={{page_pag+1}}" {% endif %}>Next →</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Номер прайса</th>
                            <th>Кол-во поставщиков</th>
                            <th>Кол-во фильтров</th>
                            <th>Фото</th>
                            <th>Имя администратора</th>
                            <th>Дата</th>
                            <th>Скачивание</th>
                            <th>Подробнее</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for price in prices %}
                        <tr>
                            <td>{{price.get('id')}}</td>
                            <td>{{price.get('count_providers')}}</td>
                            <td>{{price.get('count_filters')}}</td>
                            <td>{{price.get('photo')}}</td>
                            <td>{{price.get('admin_name')}}</td>
                            <td>{{price.get('date')}}</td>
                            <td>
                                <a href="/admin/price/download?price_id={{price.get('id')}}">
                                    <div class="btn btn-primary">Перейти</div>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/price/detail/{{price.get('id')}}">
                                    <div class="btn btn-primary">Подробнее</div>
                                </a>
                            </td>
                            <td>
                                <a href="/admin/price/delete/{{price.get('id')}}">
                                    <div class="btn btn-danger">Удалить</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}