{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Выгрузка товара
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form action='' method='post'>
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <label for="exampleInputEmail1">Выберите поставщика</label>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label>Выберите сезон</label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label>Выберите наличие</label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label>Выберите группу</label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <label>Выберите даты</label>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label>Доп. опции</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <select size="1" name="provider_id" class="form-control" required>
                    <option value="" selected disabled>Выберите поставщика</option>
                    {% for iprovider in providers %}
                        <option value="{{iprovider.id}}" {% if provider == iprovider.id %} selected {% endif %}>{{iprovider.provider_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                {% for season_option in season_options %}
                <div class="row">
                    <input type="checkbox" name="season" value="{{ season_option }}"> {{ season_option }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                {% for presence_option in presence_options %}
                <div class="row">
                    <input type="checkbox" name="presence" value="{{ presence_option }}"> {{ presence_option }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                {% for group_option in group_options %}
                <div class="row">
                    <input type="checkbox" name="group" value="{{ group_option }}"> {{ group_option }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2 col-xs-4">
                <input type="date" class="form-control form-group" name="from_date" value="{{from_date}}" min="{{min_date}}" max="{{max_date}}" required>
                <input type="date" class="form-control form-group" name="to_date" value="{{to_date}}" min="{{min_date}}" max="{{max_date}}" required>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="row">
                    <input type="checkbox" name="photo"> миникартинки
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class='col-lg-2 col-lg-offset-2 connectedSortable'>
                <div class="btn btn-primary" onclick="var cbs = document.getElementsByName('season');for(var i=0; i < cbs.length; i++) {if(cbs[i].type == 'checkbox') {cbs[i].checked = true;}}">Выделить все</div>
            </div>
            <div class='col-lg-2 connectedSortable'>
                <div class="btn btn-primary" onclick="var cbs = document.getElementsByName('presence');for(var i=0; i < cbs.length; i++) {if(cbs[i].type == 'checkbox') {cbs[i].checked = true;}}">Выделить все</div>
            </div>
            <div class='col-lg-2 connectedSortable'>
                <div class="btn btn-primary" onclick="var cbs = document.getElementsByName('group');for(var i=0; i < cbs.length; i++) {if(cbs[i].type == 'checkbox') {cbs[i].checked = true;}}">Выделить все</div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %} 