{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Редактирование прайса
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form action='' method='post'>
        <input type="hidden" name="step" value="{{step}}">
        <div class="row">
            {% if step == "1" %}
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите поставщиков</label>
            	<select size="1" name="provider" class="form-control" required>
                    <option value="" selected disabled>Выберите поставщика</option>
                    {% for iprovider in providers %}
                        <option value="{{iprovider.id}}">{{iprovider.provider_name}}</option>
                    {% endfor %}
                </select>
            </div>
            {% elif step == "2" %}
            <input type="hidden" name="provider" value="{{provider_id}}">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите прайс</label>
                <select size="1" name="price" class="form-control" required>
                    <option value="" selected disabled>Выберите прайс</option>
                    {% for price in prices %}
                        <option value="{{price.get('id')}}">Прайс №{{price.get('id')}} {{price.get('date')}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Далее</button>
            </div>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %} 