<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Админ-панель</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="/static/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="/static/css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="/static/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="/static/css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="/static/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="/static/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="/static/css/main/header.css">
        <link rel="stylesheet" href="/static/css/main/brands.css">
        <link rel="stylesheet" href="/static/css/main/list.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body class="skin-blue">
        

        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                        <div class="logo">
                            <img src="/static/img/logo.jpg" class="img-responsive">
                        </div>
                    <!-- sidebar menu: : style can be found in sidebar.less  -->
                    <ul class="sidebar-menu">
                        <li class="treeview {% if page in ['delete_products', 'products', 'products_upload', 'options', 'products_unload', 'products_changes'] %} active {% endif %}">
                            <a href="#">
                                <i class="fa fa-th"></i> <span>Товар</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'products' %} class="active" {% endif %}><a href="/admin/products"><i class="fa fa-angle-double-right"></i> Управление товаром</a></li>
                                <li {% if page == 'products_upload' %} class="active" {% endif %}><a href="/admin/products/upload"><i class="fa fa-angle-double-right"></i> Загрузка товара</a></li>
                                <li {% if page == 'products_unload' %} class="active" {% endif %}><a href="/admin/products/unload"><i class="fa fa-angle-double-right"></i> Выгрузка товара</a></li>
                                <li {% if page == 'products_changes' %} class="active" {% endif %}><a href="/admin/products/changes"><i class="fa fa-angle-double-right"></i> Изменения товара</a></li>
                                <li {% if page == 'options' %} class="active" {% endif %}><a href="/admin/products/manage_option"><i class="fa fa-angle-double-right"></i> Значения полей</a></li>
                                <li {% if page == 'delete_products' %} class="active" {% endif %}><a href="/admin/delete_products"><i class="fa fa-angle-double-right"></i> Удаление товара</a></li>
                            </ul>
                        </li>
                        <li class="treeview {% if page in ['price_edit', 'price_settings', 'price_download'] %} active {% endif %}">
                            <a href="#">
                                <i class="fa fa-money"></i> <span>Прайс</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'price_download' %}class="active"{% endif %}><a href="/admin/price/download"><i class="fa fa-angle-double-right"></i> Скачать прайс</a></li>
                                <li {% if page == 'price_settings' %}class="active"{% endif %}><a href="/admin/price/all"><i class="fa fa-angle-double-right"></i> Выгруженные прайсы</a></li>
                                <li {% if page == 'price_edit' %}class="active"{% endif %}><a href="/admin/price/edit"><i class="fa fa-angle-double-right"></i> Редактирование прайса</a></li>
                            </ul>
                        </li>
                        <li class="treeview {% if page in ['new_admin', 'report_products', 'new_store_constraints', 'store_constraints', 'users_admins', 'users_stores'] %} active {% endif %}" >
                            <a href="#">
                                <i class="fa fa-group"></i> <span>Пользователи</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'users_admins' %} class="active" {% endif %}><a href="/admin/users/admins"><i class="fa fa-angle-double-right"></i> Администраторы</a></li>
                                <li {% if page == 'new_admin' %} class="active" {% endif %}><a href="/admin/users/admins/new_admin"><i class="fa fa-angle-double-right"></i> Новый администратор</a></li>
                                <li {% if page == 'users_stores' %} class="active" {% endif %}><a href="/admin/users/stores"><i class="fa fa-angle-double-right"></i> Интернет-магазины</a></li>
                                <li {% if page == 'store_constraints' %} class="active" {% endif %}><a href="/admin/users/constraints"><i class="fa fa-angle-double-right"></i> Ограничения</a></li>
                                <li {% if page == 'new_store_constraints' %} class="active" {% endif %}><a href="/admin/users/constraints/new"><i class="fa fa-angle-double-right"></i> Новое ограничение</a></li>
                                <li {% if page == 'report_products' %} class="active" {% endif %}><a href="/admin/users/reports"><i class="fa fa-angle-double-right"></i> Отчёты по загрузке</a></li>
                            </ul>
                        </li>
                        <li class="treeview {% if page in ['provider_users_register', 'new_provider', 'setting_providers', 'users_providers', 'provider_users'] %} active {% endif %}" >
                            <a href="#">
                                <i class="fa fa-truck"></i> <span>Поставщики</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'users_providers' %} class="active" {% endif %}><a href="/admin/users/providers"><i class="fa fa-angle-double-right"></i> Поставщики</a></li>
                                <li {% if page == 'new_provider' %} class="active" {% endif %}><a href="/admin/users/providers/new"><i class="fa fa-angle-double-right"></i> Новый поставщик</a></li>
                                <li {% if page == 'provider_users' %} class="active" {% endif %}><a href="/admin/users/provider-users"><i class="fa fa-angle-double-right"></i> Поставщики-польз.</a></li>
                                <li {% if page == 'provider_users_register' %} class="active" {% endif %}><a href="/admin/users/provider-users/register"><i class="fa fa-angle-double-right"></i> Регистрация</a></li>
                                <li {% if page == 'setting_providers' %} class="active" {% endif %}><a href="/admin/users/providers/settings"><i class="fa fa-angle-double-right"></i> Поля поставщика</a></li>
                            </ul>
                        </li>
                        <li class="treeview {% if page in ['news_time', 'news', 'new_admin_message'] %} active {% endif %}" >
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>Новости</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'news' %} class="active" {% endif %}><a href="/admin/news"><i class="fa fa-angle-double-right"></i> Управление новостями</a></li>
                                <li {% if page == 'new_admin_message' %} class="active" {% endif %}><a href="/admin/news/new_message"><i class="fa fa-angle-double-right"></i> Создать новость</a></li>
                                <li {% if page == 'news_time' %} class="active" {% endif %}><a href="/admin/news/setting_news_time"><i class="fa fa-angle-double-right"></i> Настройка времени </a></li>
                            </ul>
                        </li>
                        <li class="treeview {% if page in ['feedback_messages', 'feedback_email'] %} active {% endif %}" >
                            <a href="#">
                                <i class="fa fa-envelope"></i> <span>Обратная связь</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'feedback_messages' %} class="active" {% endif %}><a href="/admin/feedback"><i class="fa fa-angle-double-right"></i> Сообщения</a></li>
                                <li {% if page == 'feedback_email' %} class="active" {% endif %}><a href="/admin/feedback/settings"><i class="fa fa-angle-double-right"></i> Настроить почту</a></li>
                            </ul>
                        </li>
                        <li class="treeview {% if page in ['change_password', 'displayed_fields', 'setting_upload', 'setting_fields'] %} active {% endif %}" >
                            <a href="#">
                                <i class="fa fa-cogs"></i> <span>Настройки</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if page == 'change_password' %} class="active" {% endif %}><a href="/admin/setting/change_password"><i class="fa fa-angle-double-right"></i> Смена пароля</a></li>
                                <li {% if page == 'displayed_fields' %} class="active" {% endif %}><a href="/admin/setting/displayed_fields"><i class="fa fa-angle-double-right"></i> Отображаемые поля</a></li>
                                <li {% if page == 'setting_fields' %} class="active" {% endif %}><a href="/admin/setting/download_fields/table"><i class="fa fa-angle-double-right"></i> Параметры скачивания</a></li>
                                <li {% if page == 'setting_upload' %} class="active" {% endif %}><a href="/admin/setting/upload_fields"><i class="fa fa-angle-double-right"></i> Параметры загрузки</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <div class="row">
                    <div class="col-lg-1 menu hr">
                        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                            Меню
                        </a>
                    </div>
                
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="menu">
                                    <ul class="hr">
                                       <li> <a href="/"> Поставщики </a> </li>
                                       <li> <a href="/main_news"> Новости </a> </li>
                                       <li> <a href="/contacts"> Контакты </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-1 menu hr">
                                <a href="/logout">Выйти</a>
                            </div>
                        </div>
                    </div>
                
                </div>
                {% block content %}{% endblock %}
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->

        
        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="/static/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="/static/js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="/static/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="/static/js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="/static/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="/static/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="/static/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>

        <!-- AdminLTE App -->
        <script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>

        {% if page in ['displayed_fields', 'setting_providers'] %}
        <script src="/static/js/AdminLTE/icheck.js" type="text/javascript"></script>
        {% endif %}

    </body>
</html>