<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Админ-панель Товары</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="/static/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="/static/css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="/static/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="/static/css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="/static/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="/static/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <p class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                Flash
            </p>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                   
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h2 style='text-align: center'>
                    Валидация данных
                </h2>
            </section>
            <!-- Main content -->
            <section class="content">
                <form action="" method="post">
                    <input type="hidden" name="checkout" value="2">
                    <input type="hidden" name="rand_number" value="{{number}}">
                    <input type="hidden" name="csv_file" value="{{csv_file}}">
                    <div class="row">
                        <div class="col-xs-12 table-responsive">
                            <table style="width:100%" border="1" cellpadding="1" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Тип поля</th>
                                        <th>Значение поля</th>
                                        <th>Добавление поля</th>
                                        <th>Подтверждение</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for j in range(0, new_fields|length) %}
                                    <tr>
                                        {% if new_fields[j][0] == 'group' %}
                                            <td>Группа</td>
                                        {% elif new_fields[j][0] == 'colour' %}
                                            <td>Цвет</td>
                                        {% elif new_fields[j][0] == 'brand' %}
                                            <td>Бренд</td>
                                        {% elif new_fields[j][0] == 'sex' %}
                                            <td>Пол</td>
                                        {% elif new_fields[j][0] == 'type' %}
                                            <td>Тип</td>
                                        {% elif new_fields[j][0] == 'material_outside' %}
                                            <td>Материал снаружи</td>
                                        {% elif new_fields[j][0] == 'material_inside' %}
                                            <td>Материал внутренний</td>
                                        {% elif new_fields[j][0] == 'material_insole' %}
                                            <td>Материал стельки</td>
                                        {% elif new_fields[j][0] == 'size' %}
                                            <td>Размер</td>
                                        {% elif new_fields[j][0] == 'repeat' %}
                                            <td>Повторы</td>
                                        {% elif new_fields[j][0] == 'season' %}
                                            <td>Сезон</td>
                                        {% elif new_fields[j][0] == 'box' %}
                                            <td>Ящик</td>
                                        {% elif new_fields[j][0] == 'min_order' %}
                                            <td>Мин. заказ</td>
                                        {% elif new_fields[j][0] == 'manufacturer' %}
                                            <td>Производитель</td>
                                        {% endif %}

                                        <td> {{new_fields[j][1]}} </td>
                                        <input type='hidden' name='column_type{{j}}' value="{{new_fields[j][0]}}">
                                        <input type='hidden' name='column_value{{j}}' value="{{new_fields[j][1]}}">

                                        {% if new_fields[j][0] == 'group' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required oninvalid="this.setCustomValidity('Нужно выбрать правильное значение')">
                                                <option value="" disabled selected>{{ new_fields[j][1] }}</option>
                                                {% for group_option in group_options %}
                                                <option value="{{group_option}}">{{group_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'colour' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for colour_option in colour_options %}
                                                <option value="{{colour_option}}">{{colour_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'brand' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for brand_option in brand_options %}
                                                <option value="{{brand_option}}">{{brand_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'sex' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required oninvalid="this.setCustomValidity('Нужно выбрать правильное значение')">
                                                <option value="" disabled selected>{{ new_fields[j][1] }}</option>
                                                {% for sex_option in sex_options %}
                                                <option value="{{sex_option}}">{{sex_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'type' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required oninvalid="this.setCustomValidity('Нужно выбрать правильное значение')">
                                                <option value="" disabled selected>{{ new_fields[j][1] }}</option>
                                                {% for type_option in type_options %}
                                                <option value="{{type_option}}">{{type_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'material_outside' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for material_outside_option in material_outside_options %}
                                                <option value="{{material_outside_option}}">{{material_outside_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'material_inside' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for material_inside_option in material_inside_options %}
                                                <option value="{{material_inside_option}}">{{material_inside_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'material_insole' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for material_insole_option in material_insole_options %}
                                                <option value="{{material_insole_option}}">{{material_insole_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'size' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for size_option in size_options %}
                                                <option value="{{size_option}}">{{size_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'repeat' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for repeat_option in repeat_options %}
                                                <option value="{{repeat_option}}">{{repeat_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'season' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required oninvalid="this.setCustomValidity('Нужно выбрать правильное значение')">
                                                <option value="" disabled selected>{{ new_fields[j][1] }}</option>
                                                {% for season_option in season_options %}
                                                <option value="{{season_option}}">{{season_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'box' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for box_option in box_options %}
                                                <option value="{{box_option}}">{{box_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'min_order' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for min_order_option in min_order_options %}
                                                <option value="{{min_order_option}}">{{min_order_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif new_fields[j][0] == 'manufacturer' %}
                                        <td>
                                            <select size="1" name="real_value{{j}}" onclick="
                                                var cbs = document.getElementsByName('new_fields');
                                                for(var i=0; i < cbs.length; i++) {
                                                    if(cbs[i].value == '{{j}}') {
                                                        cbs[i].checked = true;}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ new_fields[j][1] }}</option>
                                                {% for manufacturer_option in manufacturer_options %}
                                                <option value="{{manufacturer_option}}">{{manufacturer_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% endif %}
                                        <td> <input type='checkbox' name='new_fields' value="{{j}}" required> Ознакомлен </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12 table-responsive">
                            <table style="width:100%" border="1" cellpadding="1" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Артикул</th>
                                        <th>Фото</th>
                                        <th>Группа</th>
                                        <th>Цвет</th>
                                        <th>Бренд</th>
                                        <th>Цена</th>
                                        <th>Цена сайт</th>
                                        <th>Пол</th>
                                        <th>Тип</th>
                                        <th>Мат. снаружи</th>
                                        <th>Мат. внутри</th>
                                        <th>Мат. стелька</th>
                                        <th>Размер</th>
                                        <th>Повторы</th>
                                        <th>Сезон</th>
                                        <th>Ящик</th>
                                        <th>Мин. заказ</th>
                                        <th>Произв.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(1, lines|length) %}
                                    <tr>
                                        <td><b>{{ lines[i][column_numbers.get('articul')] }}</b></td>
                                        <td>
                                            <img src="/temp_images/{{number}}/{{lines[i][column_numbers.get('photo_1')]}}" height="125" width="125"/>
                                        </td>

                                        {% if warning[i-1].get('group') %}
                                        <td>
                                            <select size="1" name="group{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('group')] }}</option>
                                                {% for group_option in group_options %}
                                                <option value="{{group_option}}">{{group_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            <select size="1" name="group{{i}}" class="form-control" required>
                                                {% for group_option in group_options %}
                                                <option value="{{group_option}}" {% if lines[i][column_numbers.get('group')].lower() == group_option %} selected {% endif %} >{{group_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% endif %}

                                        {% if warning[i-1].get('colour') %}
                                        <td>
                                            <select size="1" name="colour{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('colour')] }}</option>
                                                {% for colour_option in colour_options %}
                                                <option value="{{colour_option}}">{{colour_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            <select size="1" name="colour{{i}}" class="form-control">
                                                <option value="" {% if lines[i][column_numbers.get('colour')] == "" %} selected {% endif %} ></option>
                                                {% for colour_option in colour_options %}
                                                <option value="{{colour_option}}" {% if lines[i][column_numbers.get('colour')].lower() == colour_option %} selected {% endif %} >{{colour_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% endif %}

                                        
                                        

                                        {% if warning[i-1].get('brand') %}
                                        <td>
                                            <select size="1" name="brand{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('brand_name')] }}</option>
                                                {% for brand_option in brand_options %}
                                                <option value="{{brand_option}}">{{brand_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            {{lines[i][column_numbers.get('brand_name')]}}
                                        </td>
                                        {% endif %}


                                        <td>{{ lines[i][column_numbers.get('cost')] }}</td>
                                        <td>{{ lines[i][column_numbers.get('cost_site')] }}</td>


                                        {% if warning[i-1].get('sex') %}
                                        <td>
                                            <select size="1" name="sex{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('sex')] }}</option>
                                                {% for sex_option in sex_options %}
                                                <option value="{{sex_option}}">{{sex_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif lines[i][column_numbers.get('sex')] != '' %}
                                        <td>
                                            {{ lines[i][column_numbers.get('sex')] }}
                                        </td>
                                        {% else %}
                                        <td> </td>
                                        {% endif %}


                                        {% if warning[i-1].get('type') %}
                                        <td>
                                            <select size="1" name="type{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('type')] }}</option>
                                                {% for type_option in type_options %}
                                                <option value="{{type_option}}">{{type_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            {{ lines[i][column_numbers.get('type')] }}
                                        </td>
                                        {% endif %}

                                        {% if warning[i-1].get('material_outside') %}
                                        <td>
                                            <select size="1" name="material_outside{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('material_outside')] }}</option>
                                                {% for material_outside_option in material_outside_options %}
                                                <option value="{{material_outside_option}}">{{material_outside_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif lines[i][column_numbers.get('material_outside')] != '' %}
                                        <td>
                                            {{ lines[i][column_numbers.get('material_outside')] }}
                                        </td>
                                        {% else %}
                                        <td> </td>
                                        {% endif %}

                                        {% if warning[i-1].get('material_inside') %}
                                        <td>
                                            <select size="1" name="material_inside{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('material_inside')] }}</option>
                                                {% for material_inside_option in material_inside_options %}
                                                <option value="{{material_inside_option}}">{{material_inside_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif lines[i][column_numbers.get('material_inside')] != '' %}
                                        <td>
                                            {{ lines[i][column_numbers.get('material_inside')] }}
                                        </td>
                                        {% else %}
                                        <td> </td>
                                        {% endif %}

                                        {% if warning[i-1].get('material_insole') %}
                                        <td>
                                            <select size="1" name="material_insole{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('material_insole')] }}</option>
                                                {% for material_insole_option in material_insole_options %}
                                                <option value="{{material_insole_option}}">{{material_insole_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif lines[i][column_numbers.get('material_insole')] != '' %}
                                        <td>
                                            {{ lines[i][column_numbers.get('material_insole')] }}
                                        </td>
                                        {% else %}
                                        <td> </td>
                                        {% endif %}

                                        {% if warning[i-1].get('size') %}
                                        <td>
                                            <select size="1" name="size{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('size')] }}</option>
                                                {% for size_option in size_options %}
                                                <option value="{{size_option}}">{{size_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            {{ lines[i][column_numbers.get('size')] }}
                                        </td>
                                        {% endif %}

                                        {% if warning[i-1].get('repeat') %}
                                        <td>
                                            <select size="1" name="repeat{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('repeat')] }}</option>
                                                {% for repeat_option in repeat_options %}
                                                <option value="{{repeat_option}}">{{repeat_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif lines[i][column_numbers.get('repeat')] != '' %}
                                        <td>
                                            {{ lines[i][column_numbers.get('repeat')] }}
                                        </td>
                                        {% else %}
                                        <td> </td>
                                        {% endif %}

                                        {% if warning[i-1].get('season') %}
                                        <td>
                                            <select size="1" name="season{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('season')] }}</option>
                                                {% for season_option in season_options %}
                                                <option value="{{season_option}}">{{season_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            {{ lines[i][column_numbers.get('season')] }}
                                        </td>
                                        {% endif %}

                                        {% if warning[i-1].get('box') %}
                                        <td>
                                            <select size="1" name="box{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('box')] }}</option>
                                                {% for box_option in box_options %}
                                                <option value="{{box_option}}">{{box_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            {{ lines[i][column_numbers.get('box')] }}
                                        </td>
                                        {% endif %}

                                        {% if warning[i-1].get('min_order') %}
                                        <td>
                                            <select size="1" name="min_order{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('min_order')] }}</option>
                                                {% for min_order_option in min_order_options %}
                                                <option value="{{min_order_option}}">{{min_order_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            {{ lines[i][column_numbers.get('min_order')] }}
                                        </td>
                                        {% endif %}

                                        {% if warning[i-1].get('manufacturer') %}
                                        <td>
                                            <select size="1" name="manufacturer{{i}}" class="form-control" style="border:1px solid red !important" required>
                                                <option selected>{{ lines[i][column_numbers.get('manufacturer')] }}</option>
                                                {% for manufacturer_option in manufacturer_options %}
                                                <option value="{{manufacturer_option}}">{{manufacturer_option}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        {% elif lines[i][column_numbers.get('manufacturer')] != '' %}
                                        <td>
                                            {{ lines[i][column_numbers.get('manufacturer')] }}
                                        </td>
                                        {% else %}
                                        <td> </td>
                                        {% endif %}

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary">Подтвердить</button>
                            </div>
                            <div class="col-lg-2 col-lg-offset-8">
                                <a href="/admin/products/upload/cancel/{{number}}">
                                    <div class="btn btn-danger">Отмена</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </section><!-- /.content -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->

        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="/static/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="/static/js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="/static/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="/static/js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="/static/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="/static/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="/static/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="/static/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

        <!-- AdminLTE App -->
        <script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>
        
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="/static/js/AdminLTE/dashboard.js" type="text/javascript"></script>     
        
        <!-- AdminLTE for demo purposes -->
        <script src="/static/js/AdminLTE/demo.js" type="text/javascript"></script>

    </body>
</html>