<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Админ-панель Товары</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="/static/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="/static/css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="/static/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="/static/css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="/static/css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="/static/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/static/css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <p class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                Flash
            </p>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                   
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h2 style='text-align: center'>
                    Устранение дублей
                </h2>
            </section>
            <!-- Main content -->
            <section class="content">
                <form action="" method="post">
                    <input type="hidden" name="checkout" value="1">
                    <input type="hidden" name="rand_number" value="{{number}}">
                    <input type="hidden" name="csv_file" value="{{csv_file}}">
                    <div class="row">
                        <div class="col-xs-12 table-responsive">
                            <table style="width:100%" border="1" cellpadding="4" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Управление</th>
                                        <th>Фото</th>
                                        <th>Фото БД</th>
                                        <th>Группа</th>
                                        <th>Цвет</th>
                                        <th>Наличие</th>
                                        <th>Артикул</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in range(0, doubles|length) %}
                                    <tr>
                                        <input type='hidden' name='numbers' value='{{doubles[i].get('number')}}' />
                                        <input type='hidden' name='numb_id{{doubles[i].get('number')}}' value='{{doubles[i].get('id')}}' />
                                        <td>
                                            <div style="display: block"><input type='radio' name='action{{doubles[i].get('number')}}' value='update' required> Обновить </div>
                                            <div style="display: block"><input type='radio' name='action{{doubles[i].get('number')}}' value='add' required> Добавить </div>
                                            <div style="display: block"><input type='radio' name='action{{doubles[i].get('number')}}' value='skip' required> Пропустить </div>
                                        </td>
                                        <td><img src="/temp_images/{{number}}/{{lines[doubles[i].get('number')][column_numbers.get('photo_1')]}}" height="100" width="100"/></td>
                                        <td><img src="/thumbnails/{{doubles[i].get('id')}}.jpg" height="100" width="100"/></td>
                                        <td>{{lines[doubles[i].get('number')][column_numbers.get('group')]}}</td>
                                        <td>{{lines[doubles[i].get('number')][column_numbers.get('colour')]}}</td>
                                        <td>{{doubles[i].get('presence')}}</td>
                                        <td>
                                            <input type="text" name="articul{{doubles[i].get('number')}}" class="form-control" value="{{ lines[doubles[i].get('number')][column_numbers.get('articul')] }}" maxlength="20" required/>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary">Подтвердить</button>
                            </div>
                            <div class="col-lg-2 col-lg-offset-8">
                                <a href="/admin/products/upload/cancel/{{number}}">
                                    <div class="btn btn-danger">Отмена</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </section><!-- /.content -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->

        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="/static/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="/static/js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="/static/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="/static/js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="/static/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="/static/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="/static/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="/static/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

        <!-- AdminLTE App -->
        <script src="/static/js/AdminLTE/app.js" type="text/javascript"></script>
        
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="/static/js/AdminLTE/dashboard.js" type="text/javascript"></script>     
        
        <!-- AdminLTE for demo purposes -->
        <script src="/static/js/AdminLTE/demo.js" type="text/javascript"></script>

    </body>
</html>