{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Настройка показа полей в таблице
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form action='' method='post'>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="sex" {% if displayed_fields.get('sex') %} checked {% endif %}> Поле "Пол"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="group" {% if displayed_fields.get('group') %} checked {% endif %}> Поле "Группа"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="type" {% if displayed_fields.get('type') %} checked {% endif %}> Поле "Тип"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="material_outside" {% if displayed_fields.get('material_outside') %} checked {% endif %}> Поле "Материал верха"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="material_inside" {% if displayed_fields.get('material_inside') %} checked {% endif %}> Поле "Материал внутри"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="material_insole" {% if displayed_fields.get('material_insole') %} checked {% endif %}> Поле "Материал стельки"
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="size" {% if displayed_fields.get('size') %} checked {% endif %}> Поле "Размер"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="repeat" {% if displayed_fields.get('repeat') %} checked {% endif %}> Поле "Повторы"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="colour" {% if displayed_fields.get('colour') %} checked {% endif %}> Поле "Цвет"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="season" {% if displayed_fields.get('season') %} checked {% endif %}> Поле "Сезон"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="box" {% if displayed_fields.get('box') %} checked {% endif %}> Поле "Ящик"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="min_order" {% if displayed_fields.get('min_order') %} checked {% endif %}> Поле "Минимальный заказ"
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="manufacturer" {% if displayed_fields.get('manufacturer') %} checked {% endif %}> Поле "Производитель"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="provider" {% if displayed_fields.get('provider') %} checked {% endif %}> Поле "Поставщик"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="brand" {% if displayed_fields.get('brand') %} checked {% endif %}> Поле "Бренд"
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="date" {% if displayed_fields.get('date') %} checked {% endif %}> Поле "Дата"
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %} 