{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Редактирование товара {{ product.get('name') }}
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="checkout" value="0">
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Артикул</label>
                <input type="text" name="articul" class="form-control" placeholder='Поле "Артикул"' value="{{ product.get('articul') }}" maxlength="20" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Бренд</label>
                <select size="1" name="brand" class="form-control" required>
                    <option disabled>Выберите бренд</option>
                    {% for brand_option in brand_options %}
                        <option value="{{brand_option}}" {% if product.get('brand_name').lower() == brand_option %} selected {% endif %}>{{brand_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Цена</label>
                <input type="text" name="cost" class="form-control" placeholder='Поле "Цена"' value="{{ product.get('cost') }}" maxlength="10" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Цена сайт</label>
                <input type="text" name="cost_site" class="form-control" placeholder='Поле "Цена сайт"' value="{{ product.get('cost_site') }}" maxlength="10" required/>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Валюта</label>
                <select size="1" name="currency" class="form-control" required>
                    <option disabled>Выберите валюту</option>
                    {% for currency_option in currency_options %}
                        <option value="{{currency_option}}" {% if product.get('currency').lower() == currency_option %} selected {% endif %}>{{currency_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Наличие</label>
                <select size="1" name="presence" class="form-control" required>
                    <option disabled>Выберите наличие</option>
                    {% for presence_option in presence_options %}
                        <option value="{{presence_option}}" {% if product.get('presence').lower() == presence_option %} selected {% endif %}>{{presence_option}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Пол</label>
                <select size="1" name="sex" class="form-control">
                    <option disabled>Выберите пол</option>
                    <option {% if product.get('sex') == "" %} selected {% endif %}></option>
                    {% for sex_option in sex_options %}
                        <option value="{{sex_option}}" {% if product.get('sex').lower() == sex_option %} selected {% endif %}>{{sex_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Группа</label>
                <select size="1" name="group" class="form-control">
                    <option disabled>Выберите группу</option>
                    {% for group_option in group_options %}
                        <option value="{{group_option}}" {% if product.get('group').lower() == group_option %} selected {% endif %}>{{group_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Тип</label>
                <select size="1" name="type" class="form-control">
                    <option disabled>Выберите тип</option>
                    {% for type_option in type_options %}
                        <option value="{{type_option}}" {% if product.get('type').lower() == type_option %} selected {% endif %}>{{type_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Материал верха</label>
                <select size="1" name="material_outside" class="form-control">
                    <option disabled>Выберите материал верха</option>
                    <option {% if product.get('material_outside') == "" %} selected {% endif %}></option>
                    {% for material_outside_option in material_outside_options %}
                        <option value="{{material_outside_option}}" {% if product.get('material_outside').lower() == material_outside_option %} selected {% endif %}>{{material_outside_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Материал внутри</label>
                <select size="1" name="material_inside" class="form-control">
                    <option disabled>Выберите материал внутри</option>
                    <option {% if product.get('material_inside') == "" %} selected {% endif %}></option>
                    {% for material_inside_option in material_inside_options %}
                        <option value="{{material_inside_option}}" {% if product.get('material_inside').lower() == material_inside_option %} selected {% endif %}>{{material_inside_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Материал стельки</label>
                <select size="1" name="material_insole" class="form-control">
                    <option disabled>Выберите материал стельки</option>
                    <option {% if product.get('material_insole') == "" %} selected {% endif %}></option>
                    {% for material_insole_option in material_insole_options %}
                        <option value="{{material_insole_option}}" {% if product.get('material_insole').lower() == material_insole_option %} selected {% endif %}>{{material_insole_option}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Размер</label>
                <select size="1" name="size" class="form-control">
                    <option disabled>Выберите размеры</option>
                    {% for size_option in size_options %}
                        <option value="{{size_option}}" {% if product.get('size').lower() == size_option %} selected {% endif %}>{{size_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Повторы</label>
                <select size="1" name="repeat" class="form-control">
                    <option disabled>Выберите повторы</option>
                    <option {% if product.get('repeat') == "" %} selected {% endif %}></option>
                    {% for repeat_option in repeat_options %}
                        <option value="{{repeat_option}}" {% if product.get('repeat').lower() == repeat_option %} selected {% endif %}>{{repeat_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Цвет</label>
                <select size="1" name="colour" class="form-control">
                    <option disabled>Выберите цвет</option>
                    <option {% if product.get('colour') == "" %} selected {% endif %}></option>
                    {% for colour_option in colour_options %}
                        <option value="{{colour_option}}" {% if product.get('colour').lower() == colour_option %} selected {% endif %}>{{colour_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Сезон</label>
                <select size="1" name="season" class="form-control">
                    <option disabled>Выберите цвет</option>
                    {% for season_option in season_options %}
                        <option value="{{season_option}}" {% if product.get('season').lower() == season_option %} selected {% endif %}>{{season_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Ящик</label>
                <select size="1" name="box" class="form-control">
                    <option disabled>Выберите кол-во в ящике</option>
                    {% for box_option in box_options %}
                        <option value="{{box_option}}" {% if product.get('box').lower() == box_option %} selected {% endif %}>{{box_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Минимальный заказ</label>
                <select size="1" name="min_order" class="form-control">
                    <option disabled>Выберите минимальный заказ</option>
                    {% for min_order_option in min_order_options %}
                        <option value="{{min_order_option}}" {% if product.get('min_order').lower() == min_order_option %} selected {% endif %}>{{min_order_option}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Производитель</label>
                <select size="1" name="manufacturer" class="form-control">
                    <option disabled>Выберите производителя</option>
                    <option {% if product.get('manufacturer') == "" %} selected {% endif %}></option>
                    {% for manufacturer_option in manufacturer_options %}
                        <option value="{{manufacturer_option}}" {% if product.get('manufacturer').lower() == manufacturer_option %} selected {% endif %}>{{manufacturer_option}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
            {% if edit %}
            <div class="col-lg-2 col-xs-4 col-lg-offset-8">
                <div onclick="window.history.go(-2);;" class="btn btn-primary pull-right">Назад</div>
            </div>
            {% endif %}
        </div>   
        {% if error_log %}
        <div class="alert alert-danger alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>Ошибка</b> {{error_log}}
        </div>
        {% endif %}
        {% if success_log %}
        <div class="alert alert-success alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>{{success_log}}</b>
        </div>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %}   