{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Возможные значения полей
    </h1>
</section>
<!-- Main content -->
<section class="content">
    {% if rights == "HIGH" %}
    <div class="row">
        <div class="col-lg-2 col-xs-4">
            <a href="/admin/products/manage_option/add">
                <button class="btn btn-primary">Новое поле</button>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Валюта</th>
                        <th>Нал.</th>
                        <th>Пол</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Тип</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Сезон</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Мин. заказ</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Ящик</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                    </tr>
                </thead>
                <tbody>
                    {% for options in all_options_first %}
                    <tr>
                        {% if options.get('currency') %}
                            <td>{{ options.get('currency') }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}

                        {% if options.get('presence') %}
                            <td>{{ options.get('presence') }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}

                        {% if options.get('sex') %}
                            <td>{{ options.get('sex') }}</td>
                                {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('sex_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>

                                {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('type') %}
                        <td>{{ options.get('type') }}</td>
                        {% if rights == "HIGH" %}
                        <td>
                            <a href="/admin/products/manage_option/delete/{{ options.get('type_id') }}">
                                <img src="/static/img/red_crest.png"/>
                            </a>
                        </td>
                        {% endif %}
                        {% else %}
                        <td> </td>
                        {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('season') %}
                        <td>{{ options.get('season') }}</td>
                        {% if rights == "HIGH" %}
                        <td>
                            <a href="/admin/products/manage_option/delete/{{ options.get('season_id') }}">
                                <img src="/static/img/red_crest.png"/>
                            </a>
                        </td>

                        {% endif %}
                        {% else %}
                        <td> </td>
                        {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}


                        

                        {% if options.get('min_order') %}
                            <td>{{ options.get('min_order') }}</td>
                            {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('min_order_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}


                        {% if options.get('box') %}
                            <td>{{ options.get('box') }}</td>
                            {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('box_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Группа</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Цвет</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Бренд</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Размер</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Повторы</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Произв.</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Мат. верха</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Мат. внутри</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                        <th>Мат. стельки</th>

                        {% if rights == "HIGH" %}
                            <th></th>
                        {% endif %}

                    </tr>
                </thead>
                <tbody>
                    {% for options in all_options_second %}
                    <tr>
                        {% if options.get('group') %}
                        <td>{{ options.get('group') }}</td>
                           {% if rights == "HIGH" %}
                            <td>
                                <a href="/admin/products/manage_option/delete/{{ options.get('group_id') }}">
                                    <img src="/static/img/red_crest.png"/>
                                </a>
                            </td>

                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('colour') %}
                        <td>{{ options.get('colour') }}</td>
                        {% if rights == "HIGH" %}
                        <td>
                            <a href="/admin/products/manage_option/delete/{{ options.get('colour_id') }}">
                                <img src="/static/img/red_crest.png"/>
                            </a>
                        </td>

                        {% endif %}
                        {% else %}
                        <td> </td>
                        {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('brand') %}
                        <td>{{ options.get('brand') }}</td>
                        {% if rights == "HIGH" %}
                        <td>
                            <a href="/admin/products/manage_option/delete/{{ options.get('brand_id') }}">
                                <img src="/static/img/red_crest.png"/>
                            </a>
                        </td>

                        {% endif %}
                        {% else %}
                        <td> </td>
                        {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('size') %}
                            <td>{{ options.get('size') }}</td>
                            {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('size_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('repeat') %}
                            <td>{{ options.get('repeat') }}</td>
                            {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('repeat_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('manufacturer') %}
                            <td>{{ options.get('manufacturer') }}</td>
                            {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('manufacturer_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('material_outside') %}
                            <td>{{ options.get('material_outside') }}</td>
                            {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('material_outside_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('material_inside') %}
                            <td>{{ options.get('material_inside') }}</td>
                            {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('material_inside_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}

                        {% if options.get('material_insole') %}
                            <td>{{ options.get('material_insole') }}</td>
                            {% if rights == "HIGH" %}
                                <td>
                                    <a href="/admin/products/manage_option/delete/{{ options.get('material_insole_id') }}">
                                        <img src="/static/img/red_crest.png"/>
                                    </a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td> </td>
                            {% if rights == "HIGH" %}
                            <td> </td>
                            {% endif %}
                        {% endif %}


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %} 