{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Добавление возможного значения поля
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form action='' method='post'>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите поле</label>
                <select size="1" name="column_type" class="form-control" required>
                <option selected disabled>Выберите поле</option>
                {% for key, value in option_fields.items() %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Введите значение</label>
                <input type="text" name="column_option" class="form-control" placeholder="Значение" maxlength="20" required/> 
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %} 