{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Создание новости
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form id='admin_message' action='' method='post'>
        <div class="row">
            <div class="col-lg-4 col-xs-8 form-group">
                <label for="exampleInputEmail1">Заголовок</label>
                <input type="text" name="tittle" class="form-control" placeholder="Заголовок" maxlength="30" required/> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-8 form-group">
                <label for="exampleInputEmail1">Введите текст новости</label>
                <textarea style="resize: none" form='admin_message' name='message' placeholder='Введите Вашу новость' maxlength='2000' cols='100' rows='20' required></textarea>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %} 