{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Новый поставщик
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="form-box" id="login-box">
        <div class="header">Добавление поставщика</div>
        <form action="" method="post">
            <div class="body bg-gray">
                <div class="form-group">
                    <p> Название поставщика </p>
                    <input type="text" name="provider_name" class="form-control" placeholder="Поставщик" maxlength="30" required/>
                </div>
                <div class="form-group">
                    <p> Адрес поставщика </p>
                    <input type="text" name="provider_address" class="form-control" placeholder="Адрес" maxlength="30" required/>
                </div>
                <div class="form-group">
                    <p> Курс доллара поставщика </p>
                    <input type="text" name="doll_to_uah" class="form-control" value="27" maxlength="5" required/>
                </div>
                <div class="form-group">
                    <p> Курс евро поставщика </p>
                    <input type="text" name="euro_to_uah" class="form-control" value="31" maxlength="5" required/>
                </div>
                <div class="form-group">
                    <p> Телефон поставщика </p>
                    <input type="text" name="phone" class="form-control" placeholder='+380951234567' maxlength="13" required/>
                </div>
                <div class="form-group">
                    <p> Viber поставщика </p>
                    <input type="text" name="viber" class="form-control" placeholder='+380951234567' maxlength="13" required/>
                </div>
                <div class="form-group">
                    <p> Почта поставщика </p>
                    <input type="email" name="email" class="form-control" placeholder='e-mail поставщика' maxlength="30"/>
                </div>
                <button type="submit" class="btn bg-yellow btn-block">Добавить</button>
                {% if error_log %}
                    <p style="color:red"> {{error_log}} </p>
                {% endif %}
                {% if succes_log %}
                    <p style="color:green"> {{succes_log}} </p>
                {% endif %}
            </div>
        </form>
    </div>
</section><!-- /.content -->
{% endblock %}