{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Регистрация администратора
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="form-box" id="login-box">
        <div class="header">Регистрация</div>
        <form action="" method="post">
            <div class="body bg-gray">
                <div class="form-group">
                    <input type="text" name="user_name" class="form-control" placeholder="Логин" maxlength="64" minlength="4" required/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Пароль" maxlength="16" minlength="4" required/>
                </div>
                <div class="form-group">
                    <input type="password" name="password2" class="form-control" placeholder="Повторите пароль" maxlength="16" minlength="4" required/>
                </div>
                <div class="form-group">
                    <input type="text" name="admin_name" class="form-control" placeholder="Введите имя администратора" maxlength="30" required/>
                </div>
                <div class="form-group">
                    <select size="1" name="rights" class="form-control" required>
                        <option selected disabled>Выберите права</option>
                        <option value="HIGH">HIGH</option>
                        <option value="LOW">LOW</option>
                    </select>
                </div>
                <button type="submit" class="btn bg-yellow btn-block">Зарегистрировать</button>
                {% if error_log %}
                    <p style="color:red"> {{error_log}} </p>
                {% endif %}
                {% if succes_log %}
                    <p style="color:green"> {{succes_log}} </p>
                {% endif %}
            </div>
        </form>
    </div>
</section><!-- /.content -->
{% endblock %}