{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Смена количества дней для новостей
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
        <div class='row'>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputFile">Количество дней для новостей</label>
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-3 col-xs-6 form-group">
                <input type="number" name="time_req" value="{{time_db.setting_value}}" maxlength="5" required>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
        {% if success_log %}
            <p style="color:green"> {{success_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %}
            