{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Управление новостями
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="/admin/news" method="get">
        <input type="hidden" name="page" value="1">
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите дату</label>
                <input type="date" class="form-control" name="from_date" value="{{from_date}}" required>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите дату</label>
                <input type="date" class="form-control" name="to_date" value="{{to_date}}" required>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите тип</label>
                <select size="1" name="type" class="form-control" required>
                    <option value="all" {% if type == "all" %} selected {% endif %}> Все </option>
                    <option value="1" {% if type == "1" %} selected {% endif %}> Добавление нового товара </option>
                    <option value="2" {% if type == "2" %} selected {% endif %}> Изменение наличия товара </option>
                    <option value="3" {% if type == "3" %} selected {% endif %}> Изменение цены товара </option>
                    <option value="4" {% if type == "4" %} selected {% endif %}> Изменение фотографии товара </option>
                    <option value="5" {% if type == "5" %} selected {% endif %}> Изменение характеристик товара </option>
                    <option value="9" {% if type == "9" %} selected {% endif %}> Изменение артикула товара </option>
                    <option value="6" {% if type == "6" %} selected {% endif %}> Изменение курса поставщика </option>
                    <option value="7" {% if type == "7" %} selected {% endif %}> Изменение адреса поставщика </option>
                    <option value="8" {% if type == "8" %} selected {% endif %}> Новости администратора </option>
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите поставщика</label>
                <select size="1" name="provider" class="form-control" required>
                    <option disabled>Выберите поставщика</option>
                    <option value="all" {% if provider == "all" %} selected {% endif %}> Все </option>
                    {% for iprovider in providers %}
                        <option value="{{iprovider.id}}" {% if provider == iprovider.id %} selected {% endif %}>{{iprovider.provider_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите администратора</label>
                <select size="1" name="admin" class="form-control" required>
                    <option disabled>Выберите поставщика</option>
                    <option value="all" {% if provider == "all" %} selected {% endif %}> Все </option>
                    {% for iadmin in admins %}
                        <option value="{{iadmin.id}}" {% if admin == iadmin.id %} selected {% endif %}>{{iadmin.admin_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1"></label>
                <button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">Отфильтровать</button>
            </div>
        </div>
    </form>
    <form action="/admin/news/set_visible_news" method="post">
        <input type="hidden" name="url" value="{{url}}">
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <button type="submit" name="action" value="show" class="btn btn-primary">Показать</button>
            </div>
            <div class="col-lg-2 col-xs-4">
                <button type="submit" name="action" value="hide" class="btn btn-danger">Скрыть</button>
            </div>
            <div class="col-lg-6 col-lg-offset-2">
                <ul class="pagination  pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/admin/news?page={{page_pag-1}}&from_date={{from_date}}&to_date={{to_date}}&type={{type}}&provider={{provider}}&admin={{admin}}" {% endif %}>← Previous</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/admin/news?page={{page_li}}&from_date={{from_date}}&to_date={{to_date}}&type={{type}}&provider={{provider}}&admin={{admin}}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/admin/news?page={{page_pag+1}}&from_date={{from_date}}&to_date={{to_date}}&type={{type}}&provider={{provider}}&admin={{admin}}" {% endif %}>Next →</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Новость</th>
                            <th>Поставщик</th>
                            <th>Адрес</th>
                            <th>Имя администратора</th>
                            <th>Дата</th>
                            <th>Статус</th>
                            <th>Управление</th>
                            <th>Просмотр</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for new in news %}
                        <tr>
                            <td><input type='checkbox' name='ids' value="{{new.get('id')}}"></td>
                            <td>{{new.get('news_type')}}</td>
                            <td>
                                {% if new.get('news_type_int') != 8 %}
                                    {{new.get('provider_name')}}
                                {% endif %}
                            </td>
                            
                            <td>
                                {% if new.get('news_type_int') != 8 %}
                                    {% if new.get('provider_address') %}
                                        {{new.get('provider_address')}}
                                    {% else %}
                                        Адрес не указан
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{new.get('admin_name')}}</td>
                            <td>{{new.get('datetime')}}</td>
                            {% if new.get('visible') == True %}
                            <td> Новость показывается </td>
                            <td>
                                <a href="/admin/news/hide/{{new.id}}?url={{url}}">
                                    <div class="btn btn-danger">Скрыть</div>
                                </a>
                            </td>
                            {% elif new.get('visible') == False %}
                            <td> Новость не показывается </td>
                            <td>
                                <a href="/admin/news/show/{{new.id}}?url={{url}}">
                                    <div class="btn btn-primary">Показывать</div>
                                </a>
                            </td>
                            {% endif %}
                            <td>
                                {% if new.get('news_type_int') != 6 and new.get('news_type_int') != 7%}
                                <a href="/admin/news/detail/{{new.id}}">
                                    <div class="btn btn-primary">Подробнее</div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}