{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Выгрузка прайса
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action='' method='post'>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class='col-lg-2 connectedSortable' >
                <div class="btn btn-primary" onclick="var cbs = document.getElementsByName('ids');for(var i=0; i < cbs.length; i++) {if(cbs[i].type == 'checkbox') {cbs[i].checked = true;}}">Выделить все</div>
            </div>
            <div class='col-lg-2 connectedSortable'>
                <div class="btn btn-primary" onclick="var cbs = document.getElementsByName('season');for(var i=0; i < cbs.length; i++) {if(cbs[i].type == 'checkbox') {cbs[i].checked = true;}}">Выделить все</div>
            </div>
            <div class='col-lg-2 connectedSortable'>
                <div class="btn btn-primary" onclick="var cbs = document.getElementsByName('presence');for(var i=0; i < cbs.length; i++) {if(cbs[i].type == 'checkbox') {cbs[i].checked = true;}}">Выделить все</div>
            </div>
            <div class='col-lg-2 connectedSortable'>
                <div class="btn btn-primary" onclick="var cbs = document.getElementsByName('group');for(var i=0; i < cbs.length; i++) {if(cbs[i].type == 'checkbox') {cbs[i].checked = true;}}">Выделить все</div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label for="exampleInputEmail1">Выберите поставщиков</label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label>Выберите сезон</label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label>Выберите наличие</label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label>Выберите группу</label>
                </div>
            </div>
            <div class="col-lg-1 col-xs-2">
                <div class="row">
                    <label>Сортировка</label>
                </div>
            </div>
            <div class="col-lg-1 col-xs-2">
                <div class="row">
                    <label>Порядок</label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="row">
                    <label>Доп. опции</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                {% for provider in providers %}
                <div class="row">
                    <input type="checkbox" name="ids" {% if provider.provider_name in price_info['providers'] %} checked {% endif %} value="{{ provider.id }}"> {{ provider.provider_name }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                {% for season_option in season_options %}
                <div class="row">
                    <input type="checkbox" name="season" {% if season_option in price_info['seasons'] %} checked {% endif %} value="{{ season_option }}"> {{ season_option }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                {% for presence_option in presence_options %}
                <div class="row">
                    <input type="checkbox" name="presence" {% if presence_option in price_info['presences'] %} checked {% endif %} value="{{ presence_option }}"> {{ presence_option }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                {% for group_option in group_options %}
                <div class="row">
                    <input type="checkbox" name="group" {% if group_option in price_info['groups'] %} checked {% endif %} value="{{ group_option }}"> {{ group_option }}
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-1 col-xs-2 form-group">
                <div class="row">
                    <input type="checkbox" name="sort" {% if 'articul' in price_info['sortings']%} checked {% endif %} value="articul"> Артикул
                </div>
                <div class="row">
                    <input type="checkbox" name="sort" {% if 'group' in price_info['sortings']%} checked {% endif %} value="group"> Группа
                </div>
                <div class="row">
                    <input type="checkbox" name="sort" {% if 'season' in price_info['sortings']%} checked {% endif %} value="season"> Сезон
                </div>
            </div>
            <div class="col-lg-1 col-xs-2 form-group">
                <div class="row">
                    <input type="number" style="max-width:80px; max-height:30px" name="articul_order" value="{% if 'articul' in price_info['sortings']%}{{price_info['sortings']['articul']}}{% else %}1{% endif %}" min="1" max="3" maxlength="1">
                </div>
                <div class="row">
                    <input type="number" style="max-width:80px; max-height:30px" name="group_order" value="{% if 'articul' in price_info['sortings']%}{{price_info['sortings']['group']}}{% else %}2{% endif %}" min="1" max="3" maxlength="1">
                </div>
                <div class="row">
                    <input type="number" style="max-width:80px; max-height:30px" name="season_order" value="{% if 'articul' in price_info['sortings']%}{{price_info['sortings']['season']}}{% else %}3{% endif %}" min="1" max="3" maxlength="1">
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="row">
                    <input type="checkbox" {% if price_info['photo']%} checked {% endif %}name="photo"> с фотографиями
                </div>
                <div class="row">
                    <input type="checkbox" name="double_page"> двусторонняя печать
                </div>
                <div class="row">
                    <input type="date" style="max-width:150px;" class="form-control" name="from_date" value="{% if price_info['from_date'] %}{{price_info['from_date']}}{% else %}{{from_date}}{% endif %}" required>
                </div>
                <div class="row">
                    <input type="date" style="max-width:150px;" class="form-control" name="to_date" value="{% if price_info['to_date'] %}{{price_info['to_date']}}{% else %}{{to_date}}{% endif %}" required>
                </div>
            </div>
        </div>
        <hr>
        
        
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %} 