{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Загрузка товара
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="checkout" value="0">
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputFile">Вставить .zip архив</label>
                <input type="file" name="file" id="exampleInputFile">
            </div>
        </div>                       
        <div class="box-footer form_group">
            <button type="submit" class="btn btn-primary">Принять</button>
        </div>
        {% if error_log %}
        <div class="alert alert-danger alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>Ошибка</b> {{error_log}}
        </div>
        {% endif %}
        {% if success_log %}
        <div class="alert alert-success alert-dismissable" style="margin-top:20px;">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <b>{{success_log}}</b>
        </div>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %}   