{% extends "base_admin.html" %}
{% block content %}
<script language="JavaScript">
    function checkAll(bx) {
    var cbs = document.getElementsByTagName('input');
        for(var i=0; i < cbs.length; i++) {
            if(cbs[i].type == 'checkbox') {
                cbs[i].checked = bx.checked;
            }
        }
    }
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Управление товарами
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="" method="get">
        <input type='hidden' name='page' value='1'>
        <div class="row">
            <div class="col-lg-3 col-xs-6 form-group">
                <input type="date" class="form-control" name="from_date" value="{{from_date}}" required>
            </div>
            <div class="col-lg-3 col-xs-6 form-group">
                <input type="date" class="form-control" name="to_date" value="{{to_date}}" required>
            </div>
            <div class="col-lg-3 col-xs-6 form-group">
                <input type="text" class="form-control" name="articul" {% if articul %} value="{{articul}}" {% endif %} placeholder="Артикул для поиска">
            </div>
            <div class="col-lg-3 col-xs-6 form-group">
                <input type="number" class="form-control" name="flash_id" {% if flash_id %} value="{{flash_id}}" {% endif %} placeholder="id для поиска">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputEmail1">Выберите поставщика</label>
            </div>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputEmail1">Выберите категорию</label>
            </div>
            <div class="col-lg-3 col-xs-6">
                <label for="exampleInputEmail1">Выберите наличие</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <select size="1" name="provider" class="form-control" required>
                    <option disabled>Выберите поставщика</option>
                    <option value="all" {% if provider == "all" %} selected {% endif %}> Все </option>
                    {% for iprovider in providers %}
                        <option value="{{iprovider.id}}" {% if provider == iprovider.id %} selected {% endif %}>{{iprovider.provider_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3 col-xs-6">
                <select size="1" name="category" class="form-control" required>
                    <option disabled>Выберите категорию</option>
                    <option value="1" {% if category == 1 %} selected {% endif %}>Обувь</option>
                </select>
            </div>
            <div class="col-lg-3 col-xs-6">
                <select size="1" name="presence" class="form-control" required>
                    <option disabled>Выберите наличие</option>
                    {% for presence_option in presence_options %}
                        <option value="{{presence_option}}" {% if presence == presence_option %} selected {% endif %}>{{presence_option}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3 col-xs-6">
                <button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">Отфильтровать</button>
            </div>
        </div>
    </form>
    <hr>
    <form action="/admin/products/download" method="post">
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <button type="submit" name="action" value="xlsx" class="btn btn-primary">Скачать .xlsx</button>
            </div>
            <div class="col-lg-2 col-xs-4">
                <button type="submit" name="action" value="zip" class="btn btn-primary">Скачать .zip</button>
            </div>
            <div class="col-lg-1 col-xs-2 col-lg-offset-2">
                <button type="submit" name="action" value="delete" class="btn btn-danger">Удалить</button>
            </div>
            <div class="col-lg-5">
                <ul class="pagination  pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/admin/products?provider={{provider}}&category={{category}}&presence={{presence}}&page={{page_pag-1}}&from_date={{from_date}}&to_date={{to_date}}{% if articul %}&articul={{articul}}{% endif %}{% if flash_id %}&flash_id={{flash_id}}{% endif %}" {% endif %}>← Previous</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/admin/products?provider={{provider}}&category={{category}}&presence={{presence}}&page={{page_li}}&from_date={{from_date}}&to_date={{to_date}}{% if articul %}&articul={{articul}}{% endif %}{% if flash_id %}&flash_id={{flash_id}}{% endif %}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/admin/products?provider={{provider}}&category={{category}}&presence={{presence}}&page={{page_pag+1}}&from_date={{from_date}}&to_date={{to_date}}{% if articul %}&articul={{articul}}{% endif %}{% if flash_id %}&flash_id={{flash_id}}{% endif %}" {% endif %}>Next →</a></li>
                </ul>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" onclick="
                                var bx=this; 
                                var cbs = document.getElementsByTagName('input');
                                for(var i=0; i < cbs.length; i++) {
                                    if(cbs[i].type == 'checkbox') {
                                        cbs[i].checked = bx.checked;}}"></th>
                            <th>Фото</th>
                            <th>id</th>
                            {% if displayed_fields.get('group')%}
                            <th>Группа</th>
                            {% endif %}
                            {% if displayed_fields.get('brand')%}
                            <th>Бренд</th>
                            {% endif %}
                            <th>Артикул</th>
                            {% if displayed_fields.get('provider')%}
                            <th>Поставщик</th>
                            {% endif %}
                            <th>Цена</th>
                            <th>Цена сайт</th>
                            <th>Валюта</th>
                            {% if displayed_fields.get('sex')%}
                            <th>Пол</th>
                            {% endif %}
                            {% if displayed_fields.get('type')%}
                            <th>Тип</th>
                            {% endif %}
                            {% if displayed_fields.get('material_outside')%}
                            <th>Материал верха</th>
                            {% endif %}
                            {% if displayed_fields.get('material_inside')%}
                            <th>Материал внутри</th>
                            {% endif %}
                            {% if displayed_fields.get('material_insole')%}
                            <th>Материал стельки</th>
                            {% endif %}
                            {% if displayed_fields.get('size')%}
                            <th>Размер</th>
                            {% endif %}
                            {% if displayed_fields.get('repeat')%}
                            <th>Повторы</th>
                            {% endif %}
                            {% if displayed_fields.get('colour')%}
                            <th>Цвет</th>
                            {% endif %}
                            {% if displayed_fields.get('season')%}
                            <th>Сезон</th>
                            {% endif %}
                            {% if displayed_fields.get('box')%}
                            <th>Ящик</th>
                            {% endif %}
                            {% if displayed_fields.get('min_order')%}
                            <th>Минимальный заказ</th>
                            {% endif %}
                            {% if displayed_fields.get('manufacturer')%}
                            <th>Производитель</th>
                            {% endif %}
                            <th>Наличие</th>
                            <th></th>
                            <th>Дата</th>
                            <th class="small-th"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td><input type='checkbox' name='ids' value="{{ product.get('id') }}"></td>
                            <td><img src="/thumbnails/{{ product.get('thumbnail') }}"/></td>
                            <td>{{ product.get('id') }}</td>
                            {% if displayed_fields.get('group')%}
                            <td>{{ product.get('group') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('brand')%}
                            <td>{{ product.get('brand_name') }}</td>
                            {% endif %}
                            <td>{{ product.get('articul') }}</td>
                            {% if displayed_fields.get('provider')%}
                            <td>{{ product.get('provider_name') }}</td>
                            {% endif %}
                            <td>{{ product.get('cost') }}</td>
                            <td>{{ product.get('cost_site') }}</td>
                            <td>{{ product.get('currency') }}</td>
                            {% if displayed_fields.get('sex')%}
                            <td>{{ product.get('sex') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('type')%}
                            <td>{{ product.get('type') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_outside')%}
                            <td>{{ product.get('material_outside') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_inside')%}
                            <td>{{ product.get('material_inside') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('material_insole')%}
                            <td>{{ product.get('material_insole') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('size')%}
                            <td>{{ product.get('size') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('repeat')%}
                            <td>{{ product.get('repeat') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('colour')%}
                            <td>{{ product.get('colour') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('season')%}
                            <td>{{ product.get('season') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('box')%}
                            <td>{{ product.get('box') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('min_order')%}
                            <td>{{ product.get('min_order') }}</td>
                            {% endif %}
                            {% if displayed_fields.get('manufacturer')%}
                            <td>{{ product.get('manufacturer') }}</td>
                            {% endif %}
                            <td>{{ product.get('presence') }}</td>
                            <td>{% if product.get('accept')%} <i class="fa fa-check"></i> {% else %} <i class="fa fa-times-circle-o"></i> {% endif %}</td>
                            <td>{{ product.get('date') }}</td>
                            <td>
                                <a href="/admin/products/edit/{{product.get('id')}}">
                                    <div class="btn btn-primary">Редактировать</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6">
                <ul class="pagination  pull-right">
                    <li class="prev {% if not prev %} disabled {% endif %}"><a {% if not prev %} href="#" {% else %} href="/admin/products?provider={{provider}}&category={{category}}&presence={{presence}}&page={{page_pag-1}}&from_date={{from_date}}&to_date={{to_date}}{% if articul %}&articul={{articul}}{% endif %}{% if flash_id %}&flash_id={{flash_id}}{% endif %}" {% endif %}>← Previous</a></li>
                    {% for page_li in pages_li %}
                    <li {% if page_pag == page_li %} class="active" {% endif %}><a href="/admin/products?provider={{provider}}&category={{category}}&presence={{presence}}&page={{page_li}}&from_date={{from_date}}&to_date={{to_date}}{% if articul %}&articul={{articul}}{% endif %}{% if flash_id %}&flash_id={{flash_id}}{% endif %}">{{page_li}}</a></li>
                    {% endfor %}
                    <li class="next {% if not next %} disabled {% endif %}"><a {% if not next %} href="#" {% else %} href="/admin/products?provider={{provider}}&category={{category}}&presence={{presence}}&page={{page_pag+1}}&from_date={{from_date}}&to_date={{to_date}}{% if articul %}&articul={{articul}}{% endif %}{% if flash_id %}&flash_id={{flash_id}}{% endif %}" {% endif %}>Next →</a></li>
                </ul>
            </div>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %}