{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Добавление параметра для выгрузки
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form action='' method='post'>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите номер</label>
                <select size="1" name="number" class="form-control" required>
                    <option selected disabled>Выберите номер</option>
                    {% for number in numbers %}
                    <option value="{{number}}">{{number}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите столбец</label>
                <select size="1" name="column_type" class="form-control" required>
                <option selected disabled>Выберите столбец</option>
                {% for key, value in fields.items() %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Введите имя столбца</label>
                <input type="text" name="name" class="form-control" placeholder="Имя столбца" maxlength="20" required/> 
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Принять</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %} 