{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Поставщики
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="/admin/users/providers/change" method="post">
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <button type="submit" name="action" value="address" class="btn btn-primary">Изменить</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Название поставщика</th>
                            <th>Адресс</th>
                            <th>Телефон</th>
                            <th>Viber</th>
                            <th>Email</th>
                            <th>Курс доллара</th>
                            <th>Курс евро</th>
                            <th>РКВ</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for provider in providers %}
                        <tr>
                            <td><input type='checkbox' name='ids' value="{{provider.id}}"></td>
                            <td><input type="text" name="provider_name{{provider.id}}" class="form-control" value="{{ provider.provider_name }}" maxlength="30" required/></td>
                            <td><input type="text" name="address{{provider.id}}" class="form-control" value="{{ provider.address }}" maxlength="30" required/></td>
                            <td><input type="text" name="phone{{provider.id}}" class="form-control" value="{{ provider.provider_phone }}" maxlength="13" required/></td>
                            <td><input type="text" name="viber{{provider.id}}" class="form-control" value="{{ provider.provider_viber }}" maxlength="13" required/></td>
                            <td><input type="text" name="email{{provider.id}}" class="form-control" value="{{ provider.provider_mail }}" maxlength="30"/></td>
                            <td><input type="text" name="doll_to_uah{{provider.id}}" class="form-control" value="{{ provider.doll_to_uah }}" maxlength="5" required/></td>
                            <td><input type="text" name="euro_to_uah{{provider.id}}" class="form-control" value="{{ provider.euro_to_uah }}" maxlength="5" required/></td>
                            <td><input type='checkbox' name='market_rate{{provider.id}}' {% if provider.market_rate %} checked {% endif %}></td>
                            <td>
                                <a href="/admin/users/provider-users/delete/{{provider.id}}">
                                    <div class="btn btn-danger">Удалить</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %} 