{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Администраторы
    </h1>
</section>
<!-- Main content -->
<section class="content no-overflow">
    <form action="" method="post">
        {% if right == 'HIGH' %}
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% if right == 'HIGH' %}
                            <th></th>
                            {% endif %}
                            <th>Имя администратора</th>
                            <th>Загрузил товаров</th>
                            <th>Права</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j in range(0, users_admin_info|length) %}
                        <tr>
                            {% if right == 'HIGH' %}
                            <td><input type='checkbox' name='ids' value="{{ users_admin_info[j].get('id') }}"></td>
                            {% endif %}
                            <td><input type="text" name="admin_name{{users_admin_info[j].get('id')}}" class="form-control" placeholder="Имя" value="{{ users_admin_info[j].get('admin_name') }}" maxlength="30" required/></td>
                            <td>{{ users_admin_info[j].get('quantity_products') }}</td>
                            <td>
                                {% if right == 'HIGH' %}
                                <select size="1" name="rights{{users_admin_info[j].get('id')}}" onclick="
                                    var cbs = document.getElementsByName('ids');
                                    for(var i=0; i < cbs.length; i++) {
                                        if(cbs[i].value == '{{users_admin_info[j].get('id')}}') {
                                            cbs[i].checked = true;}}" class="form-control" required>
                                    <option value="LOW" {% if users_admin_info[j].get('rights') == 'LOW' %} selected {% endif %}>LOW</option>
                                    <option value="HIGH" {% if users_admin_info[j].get('rights') == 'HIGH' %} selected {% endif %}>HIGH</option>
                                    <option value="BLOCK" {% if users_admin_info[j].get('rights') == 'BLOCK' %} selected {% endif %}>BLOCK</option>
                                </select>
                                {% else %}
                                {{users_admin_info[j].get('rights')}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %} 