{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Добавление ограничения для интернет-магазина
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form action='' method='post'>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите инт.-магазин</label>
                <select size="1" name="store" class="form-control" required>
                    <option selected disabled>Выберите интернет-магазин</option>
                    {% for user_store_info in users_store_info %}
                    <option value="{{user_store_info.id}}">{{user_store_info.store_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <label for="exampleInputEmail1">Выберите поставщика</label>
                <select size="1" name="provider" class="form-control" required>
                    <option selected disabled>Выберите поставщика</option>
                    {% for provider in providers %}
                    <option value="{{provider.id}}">{{provider.provider_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-2 connectedSortable'>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
        {% if error_log %}
            <p style="color:red"> {{error_log}} </p>
        {% endif %}
    </form>
</section><!-- /.content -->
{% endblock %} 