{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Настройка показа информации о поставщике
    </h1>
</section>
<!-- Main content -->
<section class="content">
   <form action='' method='post'>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disp_provs_adrs" {% if providers_settings.get('disp_provs_adrs').setting_value == 'True' %} checked {% endif %}> Адрес
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disp_provs_doll" {% if providers_settings.get('disp_provs_doll').setting_value == 'True' %} checked {% endif %}> Курс доллара
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disp_provs_euro" {% if providers_settings.get('disp_provs_euro').setting_value == 'True' %} checked {% endif %}> Курс евро
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disp_provs_phon" {% if providers_settings.get('disp_provs_phon').setting_value == 'True' %} checked {% endif %}> Мобильный телефон
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disp_provs_vibr" {% if providers_settings.get('disp_provs_vibr').setting_value == 'True' %} checked {% endif %}> Viber
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="disp_provs_mail" {% if providers_settings.get('disp_provs_mail').setting_value == 'True' %} checked {% endif %}> Почта
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-lg-3 connectedSortable'>
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </div>
    </form>
</section><!-- /.content -->
{% endblock %} 