{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Поставщики-пользователи
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="/admin/users/provider-users/change" method="post">
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Логин</th>
                            <th>Название поставщика</th>
                            <th>Адрес</th>
                            <th>Доступ к фото</th>
                            <th>Локаль</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for provider in providers %}
                        <tr>
                            <td> <input type='checkbox' name='ids' value="{{provider.get('id')}}"> </td>
                            <td>{{provider.get('login')}}</td>
                            <td>{{provider.get('provider_name')}}</td>
                            <td>{{provider.get('provider_address')}}</td>
                            <td> <input type='checkbox' name='access_photo{{provider.get('id')}}' {% if provider.get('access_photo') %} checked {% endif %}> </td>
                            <td>
                                <select size="1" name="locale{{provider.get('id')}}" class="form-control" required>
                                    <option value="Ru" {% if provider.get('locale') == "Ru" %} selected {% endif %}> Русский </option>
                                    <option value="Ch" {% if provider.get('locale') == "Ch" %} selected {% endif %}> Китайский </option>
                                </select> 
                            </td>
                            <td>
                                <a href="/admin/users/provider-users/drop_password/{{provider.get('id')}}">
                                    <div class="btn btn-danger">Сбросить пароль</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %} 