{% extends "base_admin.html" %}
{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ограничения интернет-магазинов
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <form action="" method="get">
        <div class="row">
            <div class="col-lg-2 col-xs-4">
                <label for="exampleInputEmail1">Выберите инт.-магазин</label>
            </div>
            <div class="col-lg-2 col-xs-4">
                <label for="exampleInputEmail1">Выберите поставщика</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-4 form-group">
                <select size="1" name="store" class="form-control" required>
                    <option selected disabled>Выберите интернет-магазин</option>
                    <option value="all" {% if store_name == "all" %} selected {% endif %}> Все </option>
                    {% for user_store_info in users_store_info %}
                    <option value="{{user_store_info.store_name}}" {% if store_name == user_store_info.store_name %} selected {% endif %}>{{user_store_info.store_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-xs-4 form-group">
                <select size="1" name="provider" class="form-control" required>
                    <option selected disabled>Выберите поставщика</option>
                    <option value="all" {% if provider_name == "all" %} selected {% endif %}> Все </option>
                    {% for provider in providers %}
                    <option value="{{provider.provider_name}}" {% if provider_name == provider.provider_name %} selected {% endif %} >{{provider.provider_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-3 col-xs-6">
                <button type="submit" class="btn btn-block" style="background-color:#f7d744; color:#ffffff">Отфильтровать</button>
            </div>
        </div>
    </form>
    <hr>
    <form action="" method="post">
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Интернет-магазин</th>
                            <th> </th>
                            <th>Поставщик</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for constraint in constraints %}
                        <tr>
                            <td>{{ constraint.get('store_name') }}</td>
                            <td> не видит товары и новости поставщика </td>
                            <td>{{ constraint.get('provider_name') }}</td>
                            <td>
                                <a href="/admin/users/constraints/delete/{{ constraint.get('id') }}">
                                    <div class="btn btn-danger">Удалить</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}