{% extends "base_admin.html" %}
{% block content %}
<section class="content-header">
    <h1>
        Интернет-магазины
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Телефона</th>
                        <th>Адрес</th>
                        <th>Почта</th>
                        <th>ФИО директора</th>
                        <th>Телефон директора</th>
                        <th>Скачивает без вод. знака</th>
                        <th>Управление доступом</th>
                        <th>Вод. знак</th>
                        <th>Пароль</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_store_info in users_store_info %}
                    <tr>
                        <td>{{ user_store_info.store_name }}</td>
                        <td>{{ user_store_info.phone_number }}</td>
                        <td>{{ user_store_info.store_address }}</td>
                        <td>{{ user_store_info.e_mail }}</td>
                        <td>{{ user_store_info.director_name }}</td>
                        <td>{{ user_store_info.director_phone }}</td>
                        {% if user_store_info.without_watermark == True %}
                        <td> 
                            <a href="/admin/users/stores/block_without_watermark/{{user_store_info.id}}">
                                <button class="btn btn-danger">Запретить</button>
                            </a>
                        </td>
                        {% else %}
                        <td> 
                            <a href="/admin/users/stores/grant_without_watermark/{{user_store_info.id}}">
                                <button class="btn btn-primary">Разрешить</button>
                            </a>
                        </td>
                        {% endif %}
                        {% if user_store_info.access == True %}
                        <td> 
                            <a href="/admin/users/stores/block_access/{{user_store_info.id}}">
                                <button class="btn btn-danger">Блокировать</button>
                            </a>
                        </td>
                        {% else %}
                        <td> 
                            <a href="/admin/users/stores/grant_access/{{user_store_info.id}}">
                                <button class="btn btn-primary">Активировать</button>
                            </a>
                        </td>
                        {% endif %}
                        {% if user_store_info.water_mark == True %}
                        <td> 
                            <a href="/admin/users/water_mark/{{user_store_info.id}}">
                                <button class="btn btn-primary">Редактировать</button>
                            </a>
                        </td>
                        {% else %}
                        <td> 
                            <a href="/admin/users/water_mark/{{user_store_info.id}}">
                                <button class="btn btn-primary">Загрузить</button>
                            </a>
                        </td>
                        {% endif %}
                        <td> 
                            <a href="/admin/users/stores/change_password/{{user_store_info.id}}">
                                <button class="btn btn-primary">Сменить</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
{% endblock %} 